openapi: 3.0.3
info:
  description: |
    <div class="min-h-screen bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 p-6">
      <div class="flex justify-end mb-4">
        <label for="theme-toggle" class="flex items-center cursor-pointer">
          <div class="relative">Dark mode:
            <input type="checkbox" id="theme-toggle" class="sr-only" onchange="toggleTheme()">
            <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
            <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
          </div>
        </label>
      </div>
      <header class="bg-green-500 dark:bg-green-700 p-4 rounded-lg text-white text-center">
        <p>
          Welcome to the <strong>Authlete API documentation</strong>. Authlete is an <strong>API-first service</strong>
          where every aspect of the platform is configurable via API. This explorer provides a convenient way to
          authenticate and interact with the API, allowing you to see Authlete in action quickly. 🚀
        </p>
        <p>
          At a high level, the Authlete API is grouped into two categories:
        </p>
        <ul class="list-disc list-inside">
          <li><strong>Management APIs</strong>: Enable you to manage services and clients. 🔧</li>
          <li><strong>Runtime APIs</strong>: Allow you to build your own Authorization Servers or Verifiable Credential (VC)
            issuers. 🔐</li>
        </ul>
        <p>All API endpoints are secured using access tokens issued by Authlete's Identity Provider (IdP). If you already
          have an Authlete account, simply use the <em>Get Token</em> option on the Authentication page to log in and obtain
          an access token for API usage. If you don't have an account yet, <a href="https://console.authlete.com/register">sign up
            here</a> to get started.</p>
      </header>
      <main>
        <section id="api-servers" class="mb-10">
          <h2 class="text-2xl font-semibold mb-4">🌐 API Servers</h2>
          <p>Authlete is a global service with clusters available in multiple regions across the world.</p>
          <p>Currently, our service is available in the following regions:</p>
          <div class="grid grid-cols-2 gap-4">
            <div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow">
              <p class="text-center font-semibold">🇺🇸 US</p>
            </div>
            <div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow">
              <p class="text-center font-semibold">🇯🇵 JP</p>
            </div>
            <div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow">
              <p class="text-center font-semibold">🇪🇺 EU</p>
            </div>
            <div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow">
              <p class="text-center font-semibold">🇧🇷 Brazil</p>
            </div>
          </div>
          <p>Our customers can host their data in the region that best meets their requirements.</p>
          <a href="#servers" class="block mt-4 text-green-500 dark:text-green-300 hover:underline text-center">Select your
            preferred server</a>
        </section>
        <section id="authentication" class="mb-10">
          <h2 class="text-2xl font-semibold mb-4">🔑 Authentication</h2>
          <p>The API Explorer requires an access token to call the API.</p>
          <p>You can create the access token from the <a href="https://console.authlete.com">Authlete Management Console</a> and set it in the HTTP Bearer section of Authentication page.</p>
          <p>Alternatively, if you have an Authlete account, the API Explorer can log you in with your Authlete account and
            automatically acquire the required access token.</p>
          <div class="theme-admonition theme-admonition-warning admonition_o5H7 alert alert--warning">
            <div class="admonitionContent_Knsx">
              <p>⚠️ <strong>Important Note:</strong> When the API Explorer acquires the token after login, the access tokens
                will have the same permissions as the user who logs in as part of this flow.</p>
            </div>
          </div>
          <a href="#auth" class="block mt-4 text-green-500 dark:text-green-300 hover:underline text-center">Setup your
            access token</a>
        </section>
        <section id="tutorials" class="mb-10">
          <h2 class="text-2xl font-semibold mb-4">🎓 Tutorials</h2>
          <p>If you have successfully tested the API from the API Console and want to take the next step of integrating the
            API into your application, or if you want to see a sample using Authlete APIs, follow the links below. These
            resources will help you understand key concepts and how to integrate Authlete API into your applications.</p>
          <div class="mt-4">
            <a href="https://www.authlete.com/developers/getting_started/"
              class="block text-green-500 dark:text-green-300 font-bold hover:underline mb-2">🚀 Getting Started with
              Authlete</a>
              </br>
            <a href="https://www.authlete.com/developers/tutorial/signup/"
              class="block text-green-500 dark:text-green-300 font-bold hover:underline">🔑 From Sign-Up to the First API
              Request</a>
          </div>
        </section>
        <section id="support" class="mb-10">
          <h2 class="text-2xl font-semibold mb-4">🛠 Contact Us</h2>
          <p>If you have any questions or need assistance, our team is here to help.</p>
          <a href="https://www.authlete.com/contact/"
            class="block mt-4 text-green-500 dark:text-green-300 font-bold hover:underline">Contact Page</a>
        </section>
      </main>
    </div>
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Authlete API Explorer
  version: 3.0.0
servers:
- description: 🇺🇸 US Cluster
  url: https://us.authlete.com
- description: 🇯🇵 Japan Cluster
  url: https://jp.authlete.com
- description: 🇪🇺 Europe Cluster
  url: https://eu.authlete.com
- description: 🇧🇷 Brazil Cluster
  url: https://br.authlete.com
security:
- authlete: []
- bearer: []
tags:
- description: "API endpoints for managing services, including creation, update, and\
    \ deletion of services."
  name: Service Management
  x-tag-expanded: false
- description: "API endpoints for managing OAuth clients, including creation, update,\
    \ and deletion of clients."
  name: Client Management
  x-tag-expanded: false
- description: API endpoints for implementing OAuth 2.0 Authorization Endpoint.
  name: Authorization Endpoint
  x-tag-expanded: false
- description: API endpoints for implementing OAuth 2.0 Pushed Authorization Requests
    (PAR).
  name: Pushed Authorization Endpoint
  x-tag-expanded: false
- description: API endpoints for implementing OAuth 2.0 Token Endpoint.
  name: Token Endpoint
  x-tag-expanded: false
- description: "API endpoints for various token related operations, including creating,\
    \ revoking and deleting access_tokens with specified scopes."
  name: Token Operations
  x-tag-expanded: false
- description: API endpoints for implementing OAuth 2.0 Introspection Endpoint.
  name: Introspection Endpoint
  x-tag-expanded: false
- description: API endpoint for implementing OAuth 2.0 Revocation Endpoint.
  name: Revocation Endpoint
  x-tag-expanded: false
- description: API endpoints for implementing OpenID Connect UserInfo Endpoint.
  name: UserInfo Endpoint
  x-tag-expanded: false
- description: API endpoints for to generate JSON Web Key Set (JWKS) for a service.
  name: JWK Set Endpoint
  x-tag-expanded: false
- description: API endpoints for implementing OpenID Connect Discovery.
  name: Discovery Endpoint
  x-tag-expanded: false
- description: API endpoint for accessing configuration settings for a service.
  name: Configuration Endpoint
  x-tag-expanded: false
- description: API endpoints for implementing OAuth 2.0 Dynamic Client Registration.
  name: Dynamic Client Registration
  x-tag-expanded: false
- description: API endpoints for implementing Client-Initiated Backchannel Authentication
    (CIBA).
  name: CIBA
  x-tag-expanded: false
- description: "API endpoint for implementing OAuth 2.0 grants, including grant management\
    \ actions like updating and revoking grants."
  name: Grant Management Endpoint
  x-tag-expanded: false
- description: API endpoints for JOSE objects.
  name: Jose Object
  x-tag-expanded: false
- description: API endpoints for implementing OAuth 2.0 Device Flow
  name: Device Flow
  x-tag-expanded: false
- description: API endpoints for implementing OpenID Federation using Authlete.
  name: Federation Endpoint
  x-tag-expanded: false
- description: API endpoints for implementing and running a Verifiable Credential
    Issuer (VCI).
  name: Verifiable Credential Issuer
  x-tag-expanded: false
- description: API endpoints for managing hardware security keys (HSK).
  name: Hardware Security Key
  x-tag-expanded: false
- description: API endpoints for various utility operations.
  name: Utility Endpoints
  x-tag-expanded: false
paths:
  /api/{serviceId}/service/get:
    get:
      description: |
        Get a service.

        If the access token can only view or modify clients underneath this service, but does not
        have access to view this service directly, a limited view of the service will be returned.
      operationId: service_get_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                full:
                  summary: Example showing the full service object.
                  value:
                    accessTokenDuration: 3600
                    accessTokenType: Bearer
                    allowableClockSkew: 0
                    apiKey: 21653835348762
                    attributes:
                    - key: attribute1-key
                      value: attribute1-value
                    - key: attribute2-key
                      value: attribute2-value
                    authorizationEndpoint: https://my-service.example.com/authz
                    authorizationResponseDuration: 0
                    backchannelAuthReqIdDuration: 0
                    backchannelBindingMessageRequiredInFapi: false
                    backchannelPollingInterval: 0
                    backchannelUserCodeParameterSupported: false
                    claimShortcutRestrictive: false
                    clientIdAliasEnabled: true
                    clientsPerDeveloper: 0
                    createdAt: 1639373421000
                    dcrScopeUsedAsRequestable: false
                    deviceFlowCodeDuration: 0
                    deviceFlowPollingInterval: 0
                    directAuthorizationEndpointEnabled: false
                    directIntrospectionEndpointEnabled: false
                    directJwksEndpointEnabled: false
                    directRevocationEndpointEnabled: false
                    directTokenEndpointEnabled: false
                    directUserInfoEndpointEnabled: false
                    dynamicRegistrationSupported: false
                    errorDescriptionOmitted: false
                    errorUriOmitted: false
                    frontChannelRequestObjectEncryptionRequired: false
                    grantManagementActionRequired: false
                    hsmEnabled: false
                    idTokenDuration: 0
                    introspectionEndpoint: https://my-service.example.com/introspection
                    issSuppressed: false
                    issuer: https://my-service.example.com
                    metadata:
                    - key: clientCount
                      value: "1"
                    missingClientIdAllowed: false
                    modifiedAt: 1639373421000
                    mutualTlsValidatePkiCertChain: false
                    nbfOptional: false
                    number: 5041
                    parRequired: false
                    pkceRequired: true
                    pkceS256Required: false
                    pushedAuthReqDuration: 0
                    refreshTokenDuration: 3600
                    refreshTokenDurationKept: false
                    refreshTokenDurationReset: false
                    refreshTokenKept: false
                    requestObjectEncryptionAlgMatchRequired: false
                    requestObjectEncryptionEncMatchRequired: false
                    requestObjectRequired: false
                    revocationEndpoint: https://my-service.example.com/revocation
                    scopeRequired: false
                    serviceName: My service
                    serviceOwnerNumber: 2
                    singleAccessTokenPerSubject: false
                    supportedClaimTypes:
                    - NORMAL
                    supportedDisplays:
                    - PAGE
                    supportedGrantTypes:
                    - AUTHORIZATION_CODE
                    - REFRESH_TOKEN
                    supportedIntrospectionAuthMethods:
                    - CLIENT_SECRET_BASIC
                    supportedResponseTypes:
                    - CODE
                    supportedRevocationAuthMethods:
                    - CLIENT_SECRET_BASIC
                    supportedScopes:
                    - defaultEntry: false
                      description: A permission to read your history.
                      name: history.read
                    - defaultEntry: false
                      description: A permission to read your timeline.
                      name: timeline.read
                    supportedTokenAuthMethods:
                    - CLIENT_SECRET_BASIC
                    tlsClientCertificateBoundAccessTokens: false
                    tokenEndpoint: https://my-service.example.com/token
                    tokenExpirationLinked: false
                    traditionalRequestObjectProcessingApplied: false
                    unauthorizedOnClientConfigSupported: false
                    userCodeLength: 0
                limited:
                  summary: Example showing the limited service object.
                  value:
                    apiKey: 21653835348762
                    description: This Service.
                    number: 5041
                    serviceName: My service
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Get Service
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://us.authlete.com/api/21653835348762/service/get \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long serviceId = ...;

          api.getService(serviceId);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          serviceId = ...

          api.getService(serviceId)
  /api/service/get/list:
    get:
      description: |
        Get a list of services.

        If the access token can only view or modify clients underneath a service, but does not
        have access to view that service directly, a limited view of the service will be returned.
        Otherwise, all properties of the service are returned.

        If the access token is an administrative token, this returns a list of all services on the Authlete instance.
        Otherwise, all services that the access token can view, even in a limited fashion, are returned.
      operationId: service_get_list_api
      parameters:
      - description: Start index (inclusive) of the result set. The default value
          is 0. Must not be a negative number.
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
      - description: End index (exclusive) of the result set. The default value is
          5. Must not be a negative number.
        in: query
        name: end
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                full:
                  summary: Example showing the full service view.
                  value:
                    start: 0
                    end: 5
                    totalCount: 1
                    services:
                    - accessTokenDuration: 3600
                      accessTokenType: Bearer
                      allowableClockSkew: 0
                      apiKey: 21653835348762
                      apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                      attributes:
                      - key: attribute1-key
                        value: attribute1-value
                      - key: attribute2-key
                        value: attribute2-value
                      authorizationEndpoint: https://as.example.com/authz
                      authorizationResponseDuration: 0
                      backchannelAuthReqIdDuration: 0
                      backchannelBindingMessageRequiredInFapi: false
                      backchannelPollingInterval: 0
                      backchannelUserCodeParameterSupported: false
                      claimShortcutRestrictive: false
                      clientIdAliasEnabled: true
                      createdAt: 1639373421000
                      dcrScopeUsedAsRequestable: false
                      deviceFlowCodeDuration: 0
                      deviceFlowPollingInterval: 0
                      directAuthorizationEndpointEnabled: false
                      directIntrospectionEndpointEnabled: false
                      directJwksEndpointEnabled: false
                      directRevocationEndpointEnabled: false
                      directTokenEndpointEnabled: false
                      directUserInfoEndpointEnabled: false
                      dynamicRegistrationSupported: false
                      errorDescriptionOmitted: false
                      errorUriOmitted: false
                      frontChannelRequestObjectEncryptionRequired: false
                      grantManagementActionRequired: false
                      hsmEnabled: false
                      idTokenDuration: 0
                      introspectionEndpoint: https://my-service.example.com/introspection
                      issSuppressed: false
                      issuer: https://my-service.example.com
                      metadata:
                      - key: clientCount
                        value: "1"
                      missingClientIdAllowed: false
                      modifiedAt: 1639373421000
                      mutualTlsValidatePkiCertChain: false
                      nbfOptional: false
                      number: 5041
                      parRequired: false
                      pkceRequired: true
                      pkceS256Required: false
                      pushedAuthReqDuration: 0
                      refreshTokenDuration: 3600
                      refreshTokenDurationKept: false
                      refreshTokenDurationReset: false
                      refreshTokenKept: false
                      requestObjectEncryptionAlgMatchRequired: false
                      requestObjectEncryptionEncMatchRequired: false
                      requestObjectRequired: false
                      revocationEndpoint: https://my-service.example.com/revocation
                      scopeRequired: false
                      serviceName: My service
                      serviceOwnerNumber: 2
                      singleAccessTokenPerSubject: false
                      supportedClaimTypes:
                      - NORMAL
                      supportedDisplays:
                      - PAGE
                      supportedGrantTypes:
                      - AUTHORIZATION_CODE
                      - REFRESH_TOKEN
                      supportedIntrospectionAuthMethods:
                      - CLIENT_SECRET_BASIC
                      supportedResponseTypes:
                      - CODE
                      supportedRevocationAuthMethods:
                      - CLIENT_SECRET_BASIC
                      supportedScopes:
                      - defaultEntry: false
                        description: A permission to read your history.
                        name: history.read
                      - defaultEntry: false
                        description: A permission to read your timeline.
                        name: timeline.read
                      supportedTokenAuthMethods:
                      - CLIENT_SECRET_BASIC
                      tlsClientCertificateBoundAccessTokens: false
                      tokenEndpoint: https://my-service.example.com/token
                      tokenExpirationLinked: false
                      traditionalRequestObjectProcessingApplied: false
                      unauthorizedOnClientConfigSupported: false
                      userCodeLength: 0
                limited:
                  summary: Example showing the limited service view.
                  value:
                    start: 0
                    end: 5
                    totalCount: 1
                    services:
                    - apiKey: 21653835348762
                      clientIdAliasEnabled: true
                      number: 5041
                      serviceName: My service
              schema:
                $ref: '#/components/schemas/service_get_list_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: List Services
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://us.authlete.com/api/9503564192/service/get/list?start=0\&end=5 \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          int start = 0;
          int end = 5;

          api.getServiceList(start, end);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          start = 0
          end = 5

          api.getServiceList(start, end)
  /api/service/create:
    post:
      description: |
        Create a new service.
      operationId: service_create_api
      requestBody:
        content:
          application/json:
            example:
              serviceName: My service
              issuer: https://my-service.example.com
              clientIdAliasEnabled: true
              supportedGrantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              supportedResponseTypes:
              - CODE
              authorizationEndpoint: https://my-service.example.com/authz
              pkceRequired: true
              tokenEndpoint: https://my-service.example.com/token
              supportedTokenAuthMethods:
              - CLIENT_SECRET_BASIC
              revocationEndpoint: https://my-service.example.com/revocation
              supportedRevocationAuthMethods:
              - CLIENT_SECRET_BASIC
              introspectionEndpoint: https://my-service.example.com/introspection
              supportedIntrospectionAuthMethods:
              - CLIENT_SECRET_BASIC
              accessTokenType: Bearer
              accessTokenDuration: 3600
              refreshTokenDuration: 3600
              supportedScopes:
              - name: timeline.read
                defaultEntry: false
                description: A permission to read your timeline.
              - name: history.read
                defaultEntry: false
                description: A permission to read your history.
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
            schema:
              $ref: '#/components/schemas/Service'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Service'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                - key: clientCount
                  value: "0"
                missingClientIdAllowed: false
                modifiedAt: 1639373421000
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                - NORMAL
                supportedDisplays:
                - PAGE
                supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                - CODE
                supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedScopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
                supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Create Service
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X POST https://us.authlete.com/api/service/create \
          -H 'Content-Type:application/json' \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
          -d '{ "serviceName": "My Service", ... }'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          Service service = new Service();
          service.setServiceName("My Service");
          ...

          api.createService(service);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          service = Service()
          service.serviceName = 'My Service'
          ...

          api.createService(service)
  /api/{serviceId}/service/update:
    post:
      description: |
        Update a service.
      operationId: service_update_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              accessTokenDuration: 3600
              accessTokenType: Bearer
              allowableClockSkew: 0
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
              authorizationEndpoint: https://my-service.example.com/authz
              authorizationResponseDuration: 0
              backchannelAuthReqIdDuration: 0
              backchannelBindingMessageRequiredInFapi: false
              backchannelPollingInterval: 0
              backchannelUserCodeParameterSupported: false
              claimShortcutRestrictive: false
              clientIdAliasEnabled: true
              clientsPerDeveloper: 0
              dcrScopeUsedAsRequestable: false
              deviceFlowCodeDuration: 0
              deviceFlowPollingInterval: 0
              directAuthorizationEndpointEnabled: false
              directIntrospectionEndpointEnabled: false
              directJwksEndpointEnabled: false
              directRevocationEndpointEnabled: false
              directTokenEndpointEnabled: false
              directUserInfoEndpointEnabled: false
              dynamicRegistrationSupported: false
              errorDescriptionOmitted: false
              errorUriOmitted: false
              frontChannelRequestObjectEncryptionRequired: false
              grantManagementActionRequired: false
              hsmEnabled: false
              idTokenDuration: 0
              introspectionEndpoint: https://my-service.example.com/introspection
              issSuppressed: false
              issuer: https://my-service.example.com
              missingClientIdAllowed: false
              mutualTlsValidatePkiCertChain: false
              nbfOptional: false
              parRequired: false
              pkceRequired: true
              pkceS256Required: false
              pushedAuthReqDuration: 0
              refreshTokenDuration: 3600
              refreshTokenDurationKept: false
              refreshTokenDurationReset: false
              refreshTokenKept: false
              requestObjectEncryptionAlgMatchRequired: false
              requestObjectEncryptionEncMatchRequired: false
              requestObjectRequired: false
              revocationEndpoint: https://my-service.example.com/revocation
              scopeRequired: false
              serviceName: My updated service
              singleAccessTokenPerSubject: false
              supportedClaimTypes:
              - NORMAL
              supportedDisplays:
              - PAGE
              supportedGrantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              supportedIntrospectionAuthMethods:
              - CLIENT_SECRET_BASIC
              supportedResponseTypes:
              - CODE
              supportedRevocationAuthMethods:
              - CLIENT_SECRET_BASIC
              supportedScopes:
              - defaultEntry: false
                description: A permission to read your history.
                name: history.read
              - defaultEntry: false
                description: A permission to read your timeline.
                name: timeline.read
              supportedTokenAuthMethods:
              - CLIENT_SECRET_BASIC
              tlsClientCertificateBoundAccessTokens: false
              tokenEndpoint: https://my-service.example.com/token
              tokenExpirationLinked: false
              traditionalRequestObjectProcessingApplied: false
              unauthorizedOnClientConfigSupported: false
              userCodeLength: 0
            schema:
              $ref: '#/components/schemas/Service'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Service'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                - key: clientCount
                  value: "1"
                missingClientIdAllowed: false
                modifiedAt: 1639373420725
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My updated service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                - NORMAL
                supportedDisplays:
                - PAGE
                supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                - CODE
                supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedScopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
                supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Update Service
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X POST https://us.authlete.com/api/21653835348762/service/update \
          -H 'Content-Type:application/json' \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
          -d '{ "serviceName": "My updated service", ... }'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          // Get an existing service.
          long serviceId = ...;
          Service service = api.getService(serviceId);

          // Update "service name".
          service.setAServiceName("My updated service");

          api.updateService(service);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          # Get an existing service.
          serviceId = ...
          service = api.getService(serviceId)

          # Update "service name".
          service.serviceName = 'My updated service'

          api.updateService(service)
  /api/{serviceId}/service/delete:
    delete:
      description: |
        Delete a service.
      operationId: service_delete_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The service was successfully deleted.
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Delete Service ⚡
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X DELETE https://us.authlete.com/api/9503564192/service/delete/21653835348762 \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long serviceId = ...;

          api.deleteService(serviceId);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          serviceId = ...

          api.deleteService(serviceId)
  /api/{serviceId}/client/get/{clientId}:
    get:
      description: |
        Get a client.
      operationId: client_get_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                applicationType: WEB
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639468356000
                number: 6164
                parRequired: false
                redirectUris:
                - https://my-client.example.com/cb1
                - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                - CODE
                - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
              schema:
                $ref: '#/components/schemas/Client'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Get Client
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://us.authlete.com/api/21653835348762/client/get/26478243745571 \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long clientId = ...;

          api.getClient(clientId);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientId = ...

          api.getClient(clientId)
  /api/{serviceId}/client/get/list:
    get:
      description: |
        Get a list of clients on a service.

        If the access token can view a full service (including an admin), all clients within the
        service are returned. Otherwise, only clients that the access token can view within the
        service are returned.
        - ViewClient: []
      operationId: client_get_list_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: |
          The developer of client applications. The default value is null. If this parameter is not set
          to `null`, client application of the specified developer are returned. Otherwise, all client
          applications that belong to the service are returned.
        in: query
        name: developer
        required: false
        schema:
          type: string
      - description: Start index (inclusive) of the result set. The default value
          is 0. Must not be a negative number.
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
      - description: End index (exclusive) of the result set. The default value is
          5. Must not be a negative number.
        in: query
        name: end
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                full:
                  summary: Example showing full client view.
                  value:
                    clients:
                    - applicationType: WEB
                      attributes:
                      - key: attribute1-key
                        value: attribute1-value
                      - key: attribute2-key
                        value: attribute2-value
                      authTimeRequired: false
                      bcUserCodeRequired: false
                      clientId: 26478243745571
                      clientIdAlias: my-client
                      clientIdAliasEnabled: true
                      clientName: My client
                      clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                      clientType: CONFIDENTIAL
                      createdAt: 1639468356000
                      defaultMaxAge: 0
                      derivedSectorIdentifier: my-client.example.com
                      dynamicallyRegistered: false
                      frontChannelRequestObjectEncryptionRequired: false
                      grantTypes:
                      - AUTHORIZATION_CODE
                      - REFRESH_TOKEN
                      idTokenSignAlg: RS256
                      modifiedAt: 1639468356000
                      number: 6164
                      parRequired: false
                      redirectUris:
                      - https://my-client.example.com/cb1
                      - https://my-client.example.com/cb2
                      requestObjectEncryptionAlgMatchRequired: false
                      requestObjectEncryptionEncMatchRequired: false
                      requestObjectRequired: false
                      responseTypes:
                      - CODE
                      - TOKEN
                      serviceNumber: 5041
                      subjectType: PUBLIC
                      tlsClientCertificateBoundAccessTokens: false
                      tokenAuthMethod: CLIENT_SECRET_BASIC
                    end: 3
                    start: 0
                    totalCount: 1
                limited:
                  summary: Example showing limited client view.
                  value:
                    clients:
                    - clientId: 26478243745571
                      clientIdAlias: my-client
                      clientIdAliasEnabled: true
                      clientName: My client
                      clientType: CONFIDENTIAL
                      number: 6164
                    end: 3
                    start: 0
                    totalCount: 1
              schema:
                $ref: '#/components/schemas/client_get_list_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: List Clients
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://us.authlete.com/api/21653835348762/client/get/list?developer=john\&start=0\&end=5 \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          String developer = "john";
          int start = 0;
          int end = 5;

          api.getClientList(developer, start, end);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          developer = 'john'
          start = 0
          end = 5

          api.getClientList(developer, start, end)
  /api/{serviceId}/client/create:
    post:
      description: |
        Create a new client.
      operationId: client_create_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              developer: john
              clientName: My Client
              clientIdAlias: my-client
              clientIdAliasEnabled: true
              clientType: CONFIDENTIAL
              applicationType: WEB
              grantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              responseTypes:
              - CODE
              - TOKEN
              redirectUris:
              - https://my-client.example.com/cb1
              - https://my-client.example.com/cb2
              tokenAuthMethod: CLIENT_SECRET_BASIC
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
            schema:
              $ref: '#/components/schemas/Client'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                applicationType: WEB
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639468356000
                number: 6164
                parRequired: false
                redirectUris:
                - https://my-client.example.com/cb1
                - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                - CODE
                - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
              schema:
                $ref: '#/components/schemas/Client'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Create Client
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X POST https://us.authlete.com/api/21653835348762/client/create \
          -H 'Content-Type:application/json' \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
          -d '{ "developer": "john", "clientName": "My Client", ... }'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          Client client = new Client();
          client.setDeveloper("john");
          client.setClientName("My Client");
          ...

          api.createClient(client);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          client = Client()
          client.developer = 'john'
          client.clientName = 'My Client'
          ...

          api.createClient(client)
  /api/{serviceId}/client/update/{clientId}:
    post:
      description: |
        Update a client.
      operationId: client_update_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              applicationType: WEB
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
              authTimeRequired: false
              bcUserCodeRequired: false
              clientIdAlias: my-client
              clientIdAliasEnabled: true
              clientName: My updated client
              clientType: CONFIDENTIAL
              defaultMaxAge: 0
              derivedSectorIdentifier: my-client.example.com
              developer: john
              dynamicallyRegistered: false
              frontChannelRequestObjectEncryptionRequired: false
              grantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              idTokenSignAlg: RS256
              parRequired: false
              redirectUris:
              - https://my-client.example.com/cb1
              - https://my-client.example.com/cb2
              requestObjectEncryptionAlgMatchRequired: false
              requestObjectEncryptionEncMatchRequired: false
              requestObjectRequired: false
              responseTypes:
              - CODE
              - TOKEN
              subjectType: PUBLIC
              tlsClientCertificateBoundAccessTokens: false
              tokenAuthMethod: CLIENT_SECRET_BASIC
            schema:
              $ref: '#/components/schemas/Client'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Client'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                applicationType: WEB
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My updated client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639557082764
                number: 6164
                parRequired: false
                redirectUris:
                - https://my-client.example.com/cb1
                - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                - CODE
                - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
              schema:
                $ref: '#/components/schemas/Client'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Update Client
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X POST https://us.authlete.com/api/21653835348762/client/update/26478243745571 \
          -H 'Content-Type:application/json' \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
          -d '{ "clientName": "My updated client", ... }'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          // Get an existing client.
          long clientId = ...;
          Client client = api.getClient(clientId);

          // Update "client name".
          client.setClientName("My updated client");

          api.updateClient(client);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          # Get an existing client.
          clientId = ...
          client = api.getClient(clientId)

          # Update "client name".
          client.clientName = 'My updated client'

          api.updatedClient(client)
  /api/{serviceId}/client/delete/{clientId}:
    delete:
      description: |
        Delete a client.
      operationId: client_delete_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: The client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The client was successfully deleted.
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Delete Client ⚡
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X DELETE https://us.authlete.com/api/21653835348762/client/delete/26478243745571 \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long clientId = ...;

          api.deleteClient(clientId);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientId = ...

          api.deleteClient(clientId)
  /api/{serviceId}/client/lock_flag/update/{clientIdentifier}:
    post:
      description: |
        Lock and unlock a client
      operationId: client_flag_update_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: A client ID.
        in: path
        name: clientIdentifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              clientLocked: true
            schema:
              $ref: '#/components/schemas/client_flag_update_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client_flag_update_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_flag_update_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Update Client Lock
      tags:
      - Client Management
  /api/{serviceId}/client/secret/refresh/{clientIdentifier}:
    get:
      description: |
        Refresh the client secret of a client. A new value of the client secret will be generated by the
        Authlete server.

        If you want to specify a new value, use `/api/client/secret/update` API.
      operationId: client_secret_refresh_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: |
          The client ID or the client ID alias of a client.
        in: path
        name: clientIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                resultCode: A148001
                resultMessage: "[A148001] Successfully refreshed the client secret\
                  \ of the client (ID = 26478243745571)."
                newClientSecret: 6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA
                oldClientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
              schema:
                $ref: '#/components/schemas/client_secret_refresh_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Rotate Client Secret
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://us.authlete.com/api/21653835348762/client/secret/refresh/26478243745571 \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          String clientIdentifier = ...;

          api.refreshClientSecret(clientIdentifier);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientIdentifier = ...

          api.refreshClientSecret(clientIdentifier)
  /api/{serviceId}/client/secret/update/{clientIdentifier}:
    post:
      description: |
        Update the client secret of a client.

        If you want to have the Authlete server generate a new value of the client secret, use `/api/client/secret/refresh`
        API.
      operationId: client_secret_update_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: |
          The client ID or the client ID alias of a client.
        in: path
        name: clientIdentifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              clientSecret: my_updated_client_secret
            schema:
              $ref: '#/components/schemas/client_secret_update_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client_secret_update_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                resultCode: A149001
                resultMessage: "[A149001] Successfully updated the client secret of\
                  \ the client (ID = 26478243745571)."
                newClientSecret: my_updated_client_secret
                oldClientSecret: 6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA
              schema:
                $ref: '#/components/schemas/client_secret_update_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Update Client Secret
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://us.authlete.com/api/21653835348762/client/secret/update/26478243745571 \
          -H 'Content-Type:application/json' \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
          -d '{ "clientSecret": "..." }'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          String clientIdentifier = ...;
          String clientSecret = "my_updated_client_secret";

          api.updateClientSecret(clientIdentifier, clientSecret);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientIdentifier = ...
          clientSecret = 'my_new_client_secret'

          api.updateClientSecret(clientIdentifier, clientSecret)
  /api/{serviceId}/client/authorization/get/list:
    get:
      description: |
        Get a list of client applications that an end-user has authorized.

        The subject parameter is required and can be provided either in the path or as a query parameter.
      operationId: client_authorization_get_list_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: |
          Unique user ID of an end-user.
        in: path
        name: subject
        required: true
        schema:
          type: string
      - description: |
          Unique user ID of an end-user.
        in: query
        name: subject
        required: true
        schema:
          type: string
      - description: |
          Unique ID of a client developer.
        in: query
        name: developer
        required: false
        schema:
          type: string
      - description: Start index of search results (inclusive). The default value
          is 0.
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
      - description: |
          End index of search results (exclusive). The default value is 5.
        in: query
        name: end
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                clients:
                - clientId: 26478243745571
                  clientIdAlias: my-client
                  clientIdAliasEnabled: true
                  clientName: My client
                  clientType: CONFIDENTIAL
                  number: 6164
                end: 5
                start: 0
                subject: john
                totalCount: 1
              schema:
                $ref: '#/components/schemas/client_authorization_get_list_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Get Authorized Applications
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://us.authlete.com/api/client/authorization/get/list/john?start=0\&end=5 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          ClientAuthorizationGetListRequest req = new ClientAuthorizationGetListRequest();
          req.setSubject("john");
          req.setStart(0);
          req.setEnd(5);

          api.getClientAuthorizationList(req);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          req = ClientAuthorizationGetListRequest()
          req.subject = 'john'
          req.start = 0
          req.end = 5

          api.getClientAuthorizationList(req)
  /api/{serviceId}/client/authorization/update/{clientId}:
    post:
      description: |
        Update attributes of all existing access tokens given to a client application.
      operationId: client_authorization_update_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: |
          A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              subject: john
              scopes:
              - history.read
            schema:
              $ref: '#/components/schemas/client_authorization_update_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client_authorization_update_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                resultCode: A138001
                resultMessage: "[A138001] Updated 1 access token(s) issued to the\
                  \ client (ID = 26478243745571) of the service (API Key = 21653835348762)."
              schema:
                $ref: '#/components/schemas/client_authorization_update_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Update Client Tokens
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X POST https://us.authlete.com/api/21653835348762/client/authorization/update/26478243745571 \
          -H 'Content-Type:application/json' \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
          -d '{ "subject": "john", "scopes": [ "history.read" ] }'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long clientId = ...;

          ClientAuthorizationUpdateRequest req = new ClientAuthorizationUpdateRequest();
          req.setSubject("john");
          req.setScopes(new String[]{ "history.read" });

          api.updateClientAuthorization(clientId, req);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientId = ...

          req = ClientAuthorizationUpdateRequest()
          req.subject = 'john'
          req.scopes = [ 'history.read' ]

          api.updateClientAuthorization(clientId, req)
  /api/{serviceId}/client/authorization/delete/{clientId}:
    delete:
      description: |
        Delete all existing access tokens issued to a client application by an end-user.

        The subject parameter is required and can be provided either in the path or as a query parameter.
      operationId: client_authorization_delete_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: |
          A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      - description: |
          Unique user ID of an end-user.
        in: path
        name: subject
        required: true
        schema:
          type: string
      - description: |
          Unique user ID of an end-user.
        in: query
        name: subject
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                resultCode: A137001
                resultMessage: "[A137001] Deleted 3 access token(s) issued to the\
                  \ client (ID = 26478243745571) of the service (API Key = 21653835348762)."
              schema:
                $ref: '#/components/schemas/client_authorization_delete_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Delete Client Tokens
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X DELETE https://us.authlete.com/api/21653835348762/client/authorization/delete/26478243745571/john \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long clientId = ...;
          String subject = "john";

          api.deleteClientAuthorization(clientId, subject);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientId = ...
          subject = 'john'

          api.deleteClientAuthorization(clientId, subject)
  /api/{serviceId}/client/granted_scopes/get/{clientId}:
    get:
      description: |
        Get the set of scopes that a user has granted to a client application.

        <br>
        <details>
        <summary>Description</summary>

        Possible values for `requestableScopes` parameter in the response from this API are as follows.

        **null**

        The user has not granted authorization to the client application in the past, or records about the
        combination of the user and the client application have been deleted from Authlete's DB.

        **An empty set**

        The user has granted authorization to the client application in the past, but no scopes are associated
        with the authorization.

        **A set with at least one element**

        The user has granted authorization to the client application in the past and some scopes are associated
        with the authorization. These scopes are returned.
        Example: `[ "profile", "email" ]`

        The subject parameter is required and can be provided either in the path or as a query parameter.
        </details>
      operationId: client_granted_scopes_get_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: |
          A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      - description: |
          Unique user ID of an end-user.
        in: path
        name: subject
        required: true
        schema:
          type: string
      - description: |
          Unique user ID of an end-user.
        in: query
        name: subject
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                type: GrantedScopesGetResponse
                serviceApiKey: 21653835348762
                clientId: 26478243745571
                subject: john
                latestGrantedScopes:
                - history.read
                mergedGrantedScopes:
                - history.read
                - timeline.read
              schema:
                $ref: '#/components/schemas/client_authorization_delete_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      summary: Get Granted Scopes
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://us.authlete.com/api/21653835348762/client/granted_scopes/get/26478243745571/john \
          -u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long clientId  = 26478243745571;
          String subject = "john";

          api.getGrantedScopes(clientId, subject);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientId = 26478243745571
          subject = 'john'

          api.getGrantedScopes(clientId, subject)
  /api/{serviceId}/client/granted_scopes/delete/{clientId}:
    delete:
      description: |
        Delete the set of scopes that an end-user has granted to a client application.

        <br>
        <details>
        <summary>Description</summary>

        Even if records about granted scopes are deleted by calling this API, existing access tokens are
        not deleted and scopes of existing access tokens are not changed.
        </details>

        The subject parameter is required and can be provided either in the path or as a query parameter.
      operationId: client_granted_scopes_delete_api
      parameters:
      - description: A service ID.
        in: path
        name: serviceId
        required: true
        schema:
          type: string
      - description: |
          A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      - description: |
          Unique user ID of an end-user.
        in: path
        name: subject
        required: true
        schema:
          type: string
      - description: |
          Unique user ID of an end-user.
        in: query
        name: subject
        required: true
[...]
