openapi: 3.0.3
info:
  description: |
    Authlete API Document.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Authlete API
  version: 2.3.0
servers:
- description: Shared production server.
  url: https://api.authlete.com
tags:
- description: desc1
  name: Service Management
- description: desc1
  name: Client Management
- description: desc1
  name: Authorization Endpoint
- description: desc1
  name: Pushed Authorization Endpoint
- description: desc1
  name: Token Endpoint
- description: desc1
  name: Introspection Endpoint
- description: desc1
  name: Revocation Endpoint
- description: desc1
  name: UserInfo Endpoint
- description: desc1
  name: JWK Set Endpoint
- description: desc1
  name: Discovery Endpoint
- description: desc1
  name: Configuration Endpoint
- description: desc1
  name: Dynamic Client Registration
- description: desc1
  name: CIBA
- description: desc1
  name: Grant Management Endpoint
- description: desc1
  name: Token Operations
- description: desc1
  name: Jose Object
- description: desc1
  name: Device Flow
- description: desc1
  name: Federation Endpoint
paths:
  /api/service/get/{serviceApiKey}:
    get:
      description: |
        Get a service.
      operationId: service_get_api
      parameters:
      - description: The API key of a service.
        in: path
        name: serviceApiKey
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                - key: clientCount
                  value: "1"
                missingClientIdAllowed: false
                modifiedAt: 1639373421000
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                - NORMAL
                supportedDisplays:
                - PAGE
                supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                - CODE
                supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedScopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
                supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceOwnerCredentials: []
      summary: "/api/service/get/{serviceApiKey} API"
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/service/get/21653835348762 \
          -u '9503564192:cxRpzPEkvqYbDu14gpCVKi_p6kMQvcW-lBMi7IfWLK4'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long serviceApiKey = ...;

          api.getService(serviceApiKey);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          long serviceApiKey = ...;

          await api.GetService(serviceApiKey);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $serviceApiKey = ...;

          $api.getService($serviceApiKey);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          service_api_key = ...

          api.service_get(service_api_key)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          serviceApiKey = ...

          api.getService(serviceApiKey)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          serviceApiKey := ...

          api.GetService(serviceApiKey)
      - lang: ts
        label: deno
        source: |
          const conf: AuthleteConfiguration = ...;
          const api: AuthleteApi = new AuthleteApiImpl(conf);

          const serviceApiKey = ...;

          await api.getService(serviceApiKey);
  /api/service/get/list:
    get:
      description: |
        Get a list of services.
      operationId: service_get_list_api
      parameters:
      - description: Start index (inclusive) of the result set. The default value
          is 0. Must not be a negative number.
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
      - description: End index (exclusive) of the result set. The default value is
          5. Must not be a negative number.
        in: query
        name: end
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                start: 0
                end: 5
                totalCount: 1
                services:
                - accessTokenDuration: 3600
                  accessTokenType: Bearer
                  allowableClockSkew: 0
                  apiKey: 21653835348762
                  apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                  attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                  authorizationEndpoint: https://as.example.com/authz
                  authorizationResponseDuration: 0
                  backchannelAuthReqIdDuration: 0
                  backchannelBindingMessageRequiredInFapi: false
                  backchannelPollingInterval: 0
                  backchannelUserCodeParameterSupported: false
                  claimShortcutRestrictive: false
                  clientIdAliasEnabled: true
                  clientsPerDeveloper: 0
                  createdAt: 1639373421000
                  dcrScopeUsedAsRequestable: false
                  deviceFlowCodeDuration: 0
                  deviceFlowPollingInterval: 0
                  directAuthorizationEndpointEnabled: false
                  directIntrospectionEndpointEnabled: false
                  directJwksEndpointEnabled: false
                  directRevocationEndpointEnabled: false
                  directTokenEndpointEnabled: false
                  directUserInfoEndpointEnabled: false
                  dynamicRegistrationSupported: false
                  errorDescriptionOmitted: false
                  errorUriOmitted: false
                  frontChannelRequestObjectEncryptionRequired: false
                  grantManagementActionRequired: false
                  hsmEnabled: false
                  idTokenDuration: 0
                  introspectionEndpoint: https://my-service.example.com/introspection
                  issSuppressed: false
                  issuer: https://my-service.example.com
                  metadata:
                  - key: clientCount
                    value: "1"
                  missingClientIdAllowed: false
                  modifiedAt: 1639373421000
                  mutualTlsValidatePkiCertChain: false
                  nbfOptional: false
                  number: 5041
                  parRequired: false
                  pkceRequired: true
                  pkceS256Required: false
                  pushedAuthReqDuration: 0
                  refreshTokenDuration: 3600
                  refreshTokenDurationKept: false
                  refreshTokenDurationReset: false
                  refreshTokenKept: false
                  requestObjectEncryptionAlgMatchRequired: false
                  requestObjectEncryptionEncMatchRequired: false
                  requestObjectRequired: false
                  revocationEndpoint: https://my-service.example.com/revocation
                  scopeRequired: false
                  serviceName: My service
                  serviceOwnerNumber: 2
                  singleAccessTokenPerSubject: false
                  supportedClaimTypes:
                  - NORMAL
                  supportedDisplays:
                  - PAGE
                  supportedGrantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                  supportedIntrospectionAuthMethods:
                  - CLIENT_SECRET_BASIC
                  supportedResponseTypes:
                  - CODE
                  supportedRevocationAuthMethods:
                  - CLIENT_SECRET_BASIC
                  supportedScopes:
                  - defaultEntry: false
                    description: A permission to read your history.
                    name: history.read
                  - defaultEntry: false
                    description: A permission to read your timeline.
                    name: timeline.read
                  supportedTokenAuthMethods:
                  - CLIENT_SECRET_BASIC
                  tlsClientCertificateBoundAccessTokens: false
                  tokenEndpoint: https://my-service.example.com/token
                  tokenExpirationLinked: false
                  traditionalRequestObjectProcessingApplied: false
                  unauthorizedOnClientConfigSupported: false
                  userCodeLength: 0
              schema:
                $ref: '#/components/schemas/service_get_list_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceOwnerCredentials: []
      summary: /api/service/get/list API
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/service/get/list?start=0\&end=5 \
          -u '9503564192:cxRpzPEkvqYbDu14gpCVKi_p6kMQvcW-lBMi7IfWLK4'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          int start = 0;
          int end = 5;

          api.getServiceList(start, end);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          int start = 0;
          int end = 5;

          await api.GetServiceList(start, end);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $start = 0;
          $end = 5;

          $api.getServiceList($start, $end);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          req = { start: 0, end: 5 }

          api.service_get_list(req)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          start = 0
          end = 5

          api.getServiceList(start, end)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          start := 0
          end := 5

          api.GetServiceList(start, end)
      - lang: ts
        label: deno
        source: |
          const conf: AuthleteConfiguration = ...;
          const api: AuthleteApi = new AuthleteApiImpl(conf);

          const start = 0;
          const end = 5;

          await api.getServiceList(start, end);
  /api/service/create:
    post:
      description: |
        Create a new service.
      operationId: service_create_api
      requestBody:
        content:
          application/json:
            example:
              serviceName: My service
              issuer: https://my-service.example.com
              clientIdAliasEnabled: true
              supportedGrantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              supportedResponseTypes:
              - CODE
              authorizationEndpoint: https://my-service.example.com/authz
              pkceRequired: true
              tokenEndpoint: https://my-service.example.com/token
              supportedTokenAuthMethods:
              - CLIENT_SECRET_BASIC
              revocationEndpoint: https://my-service.example.com/revocation
              supportedRevocationAuthMethods:
              - CLIENT_SECRET_BASIC
              introspectionEndpoint: https://my-service.example.com/introspection
              supportedIntrospectionAuthMethods:
              - CLIENT_SECRET_BASIC
              accessTokenType: Bearer
              accessTokenDuration: 3600
              refreshTokenDuration: 3600
              supportedScopes:
              - name: timeline.read
                defaultEntry: false
                description: A permission to read your timeline.
              - name: history.read
                defaultEntry: false
                description: A permission to read your history.
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
            schema:
              $ref: '#/components/schemas/Service'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Service'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                - key: clientCount
                  value: "0"
                missingClientIdAllowed: false
                modifiedAt: 1639373421000
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                - NORMAL
                supportedDisplays:
                - PAGE
                supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                - CODE
                supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedScopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
                supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceOwnerCredentials: []
      summary: /api/service/create API
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X POST https://api.authlete.com/api/service/create \
          -H 'Content-Type:application/json' \
          -u '9503564192:cxRpzPEkvqYbDu14gpCVKi_p6kMQvcW-lBMi7IfWLK4' \
          -d '{ "serviceName": "My Service", ... }'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          Service service = new Service();
          service.setServiceName("My Service");
          ...

          api.createService(service);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          Service service = new Service();
          service.ServiceName = "My Service";
          ...

          await api.CreateService(service);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $service = new Service();
          $service.setServiceName("My Service");
          ...

          $api.createService($service);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          service = Authlete::Model::Service.new
          service.service_name = 'My Service'
          ...

          api.service_create(service)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          service = Service()
          service.serviceName = 'My Service'
          ...

          api.createService(service)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          service := dto.Service{}
          service.ServiceName = "My Service"
          ...

          api.CreateService(&service)
      - lang: ts
        label: deno
        source: |
          const conf: AuthleteConfiguration = ...;
          const api: AuthleteApi = new AuthleteApiImpl(conf);

          const service = new Service();
          service.serviceName = 'My Service';
          ...

          await api.createService(service);
  /api/service/update/{serviceApiKey}:
    post:
      description: |
        Update a service.
      operationId: service_update_api
      parameters:
      - description: The API key of the target service.
        in: path
        name: serviceApiKey
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              accessTokenDuration: 3600
              accessTokenType: Bearer
              allowableClockSkew: 0
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
              authorizationEndpoint: https://my-service.example.com/authz
              authorizationResponseDuration: 0
              backchannelAuthReqIdDuration: 0
              backchannelBindingMessageRequiredInFapi: false
              backchannelPollingInterval: 0
              backchannelUserCodeParameterSupported: false
              claimShortcutRestrictive: false
              clientIdAliasEnabled: true
              clientsPerDeveloper: 0
              dcrScopeUsedAsRequestable: false
              deviceFlowCodeDuration: 0
              deviceFlowPollingInterval: 0
              directAuthorizationEndpointEnabled: false
              directIntrospectionEndpointEnabled: false
              directJwksEndpointEnabled: false
              directRevocationEndpointEnabled: false
              directTokenEndpointEnabled: false
              directUserInfoEndpointEnabled: false
              dynamicRegistrationSupported: false
              errorDescriptionOmitted: false
              errorUriOmitted: false
              frontChannelRequestObjectEncryptionRequired: false
              grantManagementActionRequired: false
              hsmEnabled: false
              idTokenDuration: 0
              introspectionEndpoint: https://my-service.example.com/introspection
              issSuppressed: false
              issuer: https://my-service.example.com
              missingClientIdAllowed: false
              mutualTlsValidatePkiCertChain: false
              nbfOptional: false
              parRequired: false
              pkceRequired: true
              pkceS256Required: false
              pushedAuthReqDuration: 0
              refreshTokenDuration: 3600
              refreshTokenDurationKept: false
              refreshTokenDurationReset: false
              refreshTokenKept: false
              requestObjectEncryptionAlgMatchRequired: false
              requestObjectEncryptionEncMatchRequired: false
              requestObjectRequired: false
              revocationEndpoint: https://my-service.example.com/revocation
              scopeRequired: false
              serviceName: My updated service
              singleAccessTokenPerSubject: false
              supportedClaimTypes:
              - NORMAL
              supportedDisplays:
              - PAGE
              supportedGrantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              supportedIntrospectionAuthMethods:
              - CLIENT_SECRET_BASIC
              supportedResponseTypes:
              - CODE
              supportedRevocationAuthMethods:
              - CLIENT_SECRET_BASIC
              supportedScopes:
              - defaultEntry: false
                description: A permission to read your history.
                name: history.read
              - defaultEntry: false
                description: A permission to read your timeline.
                name: timeline.read
              supportedTokenAuthMethods:
              - CLIENT_SECRET_BASIC
              tlsClientCertificateBoundAccessTokens: false
              tokenEndpoint: https://my-service.example.com/token
              tokenExpirationLinked: false
              traditionalRequestObjectProcessingApplied: false
              unauthorizedOnClientConfigSupported: false
              userCodeLength: 0
            schema:
              $ref: '#/components/schemas/Service'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Service'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                - key: clientCount
                  value: "1"
                missingClientIdAllowed: false
                modifiedAt: 1639373420725
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My updated service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                - NORMAL
                supportedDisplays:
                - PAGE
                supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                - CODE
                supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedScopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
                supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceOwnerCredentials: []
      summary: "/api/service/update/{serviceApiKey} API"
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X POST https://api.authlete.com/api/service/update/21653835348762 \
          -H 'Content-Type:application/json' \
          -u '9503564192:cxRpzPEkvqYbDu14gpCVKi_p6kMQvcW-lBMi7IfWLK4' \
          -d '{ "serviceName": "My updated service", ... }'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          // Get an existing service.
          long serviceApiKey = ...;
          Service service = api.getService(serviceApiKey);

          // Update "service name".
          service.setAServiceName("My updated service");

          api.updateService(service);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          // Get an existing service.
          long serviceApiKey = ...;
          Service service = api.GetService(serviceApiKey);

          // Update "service name".
          service.ServiceName = "My updated service";

          await api.UpdateService(service);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          // Get an existing service.
          $serviceApiKey = ...;
          $api.getService($serviceApiKey);

          // Update "service name".
          service.setServiceName("My updated service");

          $api.updateService($service);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          service_api_key = ...
          api.service_get(service_api_key)

          # Update "service name".
          service.serviceName = 'My updated service';

          api.service_update(service)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          # Get an existing service.
          serviceApiKey = ...
          service = api.getService(serviceApiKey)

          # Update "service name".
          service.serviceName = 'My updated service'

          api.updateService(service)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          // Get an existing service.
          serviceApiKey := ...
          service, _ := api.GetService(serviceApiKey)

          // Update "service name".
          service.ServiceName := "My updated service"

          api.UpdateService(&service)
      - lang: ts
        label: deno
        source: |
          const conf: AuthleteConfiguration = ...;
          const api: AuthleteApi = new AuthleteApiImpl(conf);

          // Get an existing service.
          const serviceApiKey = ...;
          const service = await api.getService(serviceApiKey);

          // Update "service name".
          service.serviceName = 'My updated service';

          await api.updateService(service);
  /api/service/delete/{serviceApiKey}:
    delete:
      description: |
        Delete a service.
      operationId: service_delete_api
      parameters:
      - description: The API key of the target service.
        in: path
        name: serviceApiKey
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The service was successfully deleted.
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceOwnerCredentials: []
      summary: "/api/service/delete/{serviceApiKey} API"
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X DELETE https://api.authlete.com/api/service/delete/21653835348762 \
          -u '9503564192:cxRpzPEkvqYbDu14gpCVKi_p6kMQvcW-lBMi7IfWLK4'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long serviceApiKey = ...;

          api.deleteService(serviceApiKey);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          long serviceApiKey = ...;

          await api.DeleteService(serviceApiKey);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $serviceApiKey = ...;

          $api.deleteService($serviceApiKey);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          service_api_key = ...

          api.service_delete(service_api_key)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          serviceApiKey = ...

          api.deleteService(serviceApiKey)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          serviceApiKey := ...

          api.DeleteService(serviceApiKey)
      - lang: ts
        label: deno
        source: |
          const conf: AuthleteConfiguration = ...;
          const api: AuthleteApi = new AuthleteApiImpl(conf);

          const serviceApiKey = ...;

          await api.deleteService(serviceApiKey);
  /api/client/get/{clientId}:
    get:
      description: |
        Get a client.
      operationId: client_get_api
      parameters:
      - description: A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                applicationType: WEB
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639468356000
                number: 6164
                parRequired: false
                redirectUris:
                - https://my-client.example.com/cb1
                - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                - CODE
                - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
              schema:
                $ref: '#/components/schemas/Client'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/get/{clientId} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/client/get/26478243745571 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long clientId = ...;

          api.getClient(clientId);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          long clientId = ...;

          await api.GetClient(clientId);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $clientId = ...;

          $api.getClient($clientId);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          client_id = ...

          api.client_get(client_id)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientId = ...

          api.getClient(clientId)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          clientId := ...

          api.GetClient(clientId)
      - lang: ts
        label: deno
        source: |
          const conf: AuthleteConfiguration = ...;
          const api: AuthleteApi = new AuthleteApiImpl(conf);

          const clientId = ...;

          await api.getClient(clientId);
  /api/client/get/list:
    get:
      description: |
        Get a list of clients.
      operationId: client_get_list_api
      parameters:
      - description: |
          The developer of client applications. The default value is null. If this parameter is not set
          to `null`, client application of the specified developer are returned. Otherwise, all client
          applications that belong to the service are returned.
        in: query
        name: developer
        required: false
        schema:
          type: string
      - description: Start index (inclusive) of the result set. The default value
          is 0. Must not be a negative number.
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
      - description: End index (exclusive) of the result set. The default value is
          5. Must not be a negative number.
        in: query
        name: end
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                clients:
                - applicationType: WEB
                  attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                  authTimeRequired: false
                  bcUserCodeRequired: false
                  clientId: 26478243745571
                  clientIdAlias: my-client
                  clientIdAliasEnabled: true
                  clientName: My client
                  clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                  clientType: CONFIDENTIAL
                  createdAt: 1639468356000
                  defaultMaxAge: 0
                  derivedSectorIdentifier: my-client.example.com
                  developer: john
                  dynamicallyRegistered: false
                  frontChannelRequestObjectEncryptionRequired: false
                  grantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                  idTokenSignAlg: RS256
                  modifiedAt: 1639468356000
                  number: 6164
                  parRequired: false
                  redirectUris:
                  - https://my-client.example.com/cb1
                  - https://my-client.example.com/cb2
                  requestObjectEncryptionAlgMatchRequired: false
                  requestObjectEncryptionEncMatchRequired: false
                  requestObjectRequired: false
                  responseTypes:
                  - CODE
                  - TOKEN
                  serviceNumber: 5041
                  subjectType: PUBLIC
                  tlsClientCertificateBoundAccessTokens: false
                  tokenAuthMethod: CLIENT_SECRET_BASIC
                developer: john
                end: 3
                start: 0
                totalCount: 1
              schema:
                $ref: '#/components/schemas/client_get_list_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: /api/client/get/list API
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/client/get/list?developer=john\&start=0\&end=5 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          String developer = "john";
          int start = 0;
          int end = 5;

          api.getClientList(developer, start, end);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          String developer = "john";
          int start = 0;
          int end = 5;

          await api.GetClientList(developer, start, end);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $developer = "john";
          $start = 0;
          $end = 5;

          $api.getClientList($developer, $start, $end);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          req = { developer: 'john', start: 0, end: 5 }

          api.client_list_get(req)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          developer = 'john'
          start = 0
          end = 5

          api.getClientList(developer, start, end)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          developer = "john"
          start := 0
          end := 5

          api.GetClientList(developer, start, end)
      - lang: ts
        label: deno
        source: |
          const conf: AuthleteConfiguration = ...;
          const api: AuthleteApi = new AuthleteApiImpl(conf);

          const developer = 'john';
          const start = 0;
          const end = 5;

          await api.getClientList(developer, start, end);
  /api/client/create:
    post:
      description: |
        Create a new client.
      operationId: client_create_api
      requestBody:
        content:
          application/json:
            example:
              developer: john
              clientName: My Client
              clientIdAlias: my-client
              clientIdAliasEnabled: true
              clientType: CONFIDENTIAL
              applicationType: WEB
              grantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              responseTypes:
              - CODE
              - TOKEN
              redirectUris:
              - https://my-client.example.com/cb1
              - https://my-client.example.com/cb2
              tokenAuthMethod: CLIENT_SECRET_BASIC
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
            schema:
              $ref: '#/components/schemas/Client'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                applicationType: WEB
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639468356000
                number: 6164
                parRequired: false
                redirectUris:
                - https://my-client.example.com/cb1
                - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                - CODE
                - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
              schema:
                $ref: '#/components/schemas/Client'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: /api/client/create API
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X POST https://api.authlete.com/api/client/create \
          -H 'Content-Type:application/json' \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls' \
          -d '{ "developer": "john", "clientName": "My Client", ... }'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          Client client = new Client();
          client.setDeveloper("john");
          client.setClientName("My Client");
          ...

          api.createClient(client);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          Client client = new Client();
          client.Developer = "john";
          client.ClientName = "My Client";
          ...

          await api.CreateClient(client);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $client = new Client();
          $client.setDeveloper("john");
          $client.setClientName("My Client");
          ...

          $api.createClient($client);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          client = Authlete::Model::Client.new
          client.developer = 'john'
          client.client_name = 'My Client'
          ...

          api.client_create(client)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          client = Client()
          client.developer = 'john'
          client.clientName = 'My Client'
          ...

          api.createClient(client)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          client := dto.Client{}
          client.Developer = "john"
          client.ClientName = "My Client"
          ...

          api.CreateClient(client)
      - lang: ts
        label: deno
        source: |
          const conf: AuthleteConfiguration = ...;
          const api: AuthleteApi = new AuthleteApiImpl(conf);

          const client = new Client();
          client.developer = 'john';
          client.clientName = 'My Client';
          ...

          await api.createClient(client);
  /api/client/update/{clientId}:
    post:
      description: |
        Update a client.
      operationId: client_update_api
      parameters:
      - description: A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              applicationType: WEB
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
              authTimeRequired: false
              bcUserCodeRequired: false
              clientIdAlias: my-client
              clientIdAliasEnabled: true
              clientName: My updated client
              clientType: CONFIDENTIAL
              defaultMaxAge: 0
              derivedSectorIdentifier: my-client.example.com
              developer: john
              dynamicallyRegistered: false
              frontChannelRequestObjectEncryptionRequired: false
              grantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              idTokenSignAlg: RS256
              parRequired: false
              redirectUris:
              - https://my-client.example.com/cb1
              - https://my-client.example.com/cb2
              requestObjectEncryptionAlgMatchRequired: false
              requestObjectEncryptionEncMatchRequired: false
              requestObjectRequired: false
              responseTypes:
              - CODE
              - TOKEN
              subjectType: PUBLIC
              tlsClientCertificateBoundAccessTokens: false
              tokenAuthMethod: CLIENT_SECRET_BASIC
            schema:
              $ref: '#/components/schemas/Client'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Client'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                applicationType: WEB
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My updated client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639557082764
                number: 6164
                parRequired: false
                redirectUris:
                - https://my-client.example.com/cb1
                - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                - CODE
                - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
              schema:
                $ref: '#/components/schemas/Client'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/update/{clientId} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X POST https://api.authlete.com/api/client/update/26478243745571 \
          -H 'Content-Type:application/json' \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls' \
          -d '{ "clientName": "My updated client", ... }'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          // Get an existing client.
          long clientId = ...;
          Client client = api.getClient(clientId);

          // Update "client name".
          client.setClientName("My updated client");

          api.updateClient(client);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          // Get an existing client.
          long clientId = ...;
          Client client = api.GetClient(clientId);

          // Update "client name".
          client.ClientName = "My updated client";

          api.UpdateClient(client);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          // Get an existing client.
          $clientId = ...;
          $client = $api.getClient(clientId);

          // Update "client name".
          $client.setClientName("My updated client");

          $api.updateClient($client);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          # Get an existing client.
          client_id = ...
          client = api.client_get(client_id)

          # Update "client name".
          client.client_name = 'My updated client'

          api.client_update(client)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          # Get an existing client.
          clientId = ...
          client = api.getClient(clientId)

          # Update "client name".
          client.clientName = 'My updated client'

          api.updatedClient(client)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          // Get an existing client.
          clientId := ...
          client, _ := api.GetClient(clientId)

          // Update "client name".
          client.ClientName := "My updated client"

          api.UpdateClient(&client)
      - lang: ts
        label: deno
        source: |
          const conf: AuthleteConfiguration = ...;
          const api: AuthleteApi = new AuthleteApiImpl(conf);

          // Get an existing client.
          const clientId = ...;
          const client = await api.getClient(clientId);

          // Update "client name".
          client.clientName = 'My updated client';

          await api.updateClient(client);
  /api/client/delete/{clientId}:
    delete:
      description: |
        Delete a client.
      operationId: client_delete_api
      parameters:
      - description: The client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The client was successfully deleted.
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/delete/{clientId} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X DELETE https://api.authlete.com/api/client/delete/26478243745571 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long clientId = ...;

          api.deleteClient(clientId);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          long clientId = ...;

          await api.DeleteClient(clientId);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $clientId = ...;

          $api.deleteClient($clientId);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          client_id = ...

          api.client_delete(client_id)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientId = ...

          api.deleteClient(clientId)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          clientId := ...

          api.DeleteClient(clientId)
      - lang: ts
        label: deno
        source: |
          const conf: AuthleteConfiguration = ...;
          const api: AuthleteApi = new AuthleteApiImpl(conf);

          const clientId = ...

          await api.deleteClient(clientId);
  /api/client/lock_flag/update/{clientIdentifier}:
    post:
      description: |
        Lock and unlock a client
      operationId: client_flag_update_api
      parameters:
      - description: A client ID.
        in: path
        name: clientIdentifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              clientLocked: true
            schema:
              $ref: '#/components/schemas/client_flag_update_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client_flag_update_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_flag_update_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/lock_flag/update/{clientIdentifier} API"
      tags:
      - Client Management
  /api/client/secret/refresh/{clientIdentifier}:
    get:
      description: |
        Refresh the client secret of a client. A new value of the client secret will be generated by the
        Authlete server.

        If you want to specify a new value, use `/api/client/secret/update` API.
      operationId: client_secret_refresh_api
      parameters:
      - description: |
          The client ID or the client ID alias of a client.
        in: path
        name: clientIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                resultCode: A148001
                resultMessage: "[A148001] Successfully refreshed the client secret\
                  \ of the client (ID = 26478243745571)."
                newClientSecret: 6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA
                oldClientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
              schema:
                $ref: '#/components/schemas/client_secret_refresh_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: /api/client/secret/refresh API
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/client/secret/refresh/26478243745571 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          String clientIdentifier = ...;

          api.refreshClientSecret(clientIdentifier);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          string clientIdentifier = ...;

          await api.RefreshClientSecret(clientIdentifier);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $clientIdentifier = ...;

          $api.refreshClientSecret($clientIdentifier);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          client_identifier = ...

          api.refresh_client_secret(client_identifier)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientIdentifier = ...

          api.refreshClientSecret(clientIdentifier)
      - lang: go
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientIdentifier = ...

          api.refreshClientSecret(clientIdentifier)
      - lang: ts
        label: deno
        source: |
          // This API is not supported yet.
  /api/client/secret/update/{clientIdentifier}:
    post:
      description: |
        Update the client secret of a client.

        If you want to have the Authlete server generate a new value of the client secret, use `/api/client/secret/refresh`
        API.
      operationId: client_secret_update_api
      parameters:
      - description: |
          The client ID or the client ID alias of a client.
        in: path
        name: clientIdentifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              clientSecret: my_updated_client_secret
            schema:
              $ref: '#/components/schemas/client_secret_update_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client_secret_update_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                resultCode: A149001
                resultMessage: "[A149001] Successfully updated the client secret of\
                  \ the client (ID = 26478243745571)."
                newClientSecret: my_updated_client_secret
                oldClientSecret: 6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA
              schema:
                $ref: '#/components/schemas/client_secret_update_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: /api/client/secret/update API
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/client/secret/update/26478243745571 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls' \
          -H 'Content-Type:application/json' \
          -d '{ "clientSecret": "..." }'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          String clientIdentifier = ...;
          String clientSecret = "my_updated_client_secret";

          api.updateClientSecret(clientIdentifier, clientSecret);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          string clientIdentifier = ...;
          string clientSecret = "my_new_client_secret";

          await api.UpdateClientSecret(clientIdentifier, clientSecret);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $clientIdentifier = ...;
          $clientSecret = "my_new_client_secret";

          $api.updateClientSecret($clientIdentifier, $clientSecret);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          client_identifier = ...
          client_secret = 'my_new_client_secret'

          api.update_client_secret(client_identifier, client_secret)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientIdentifier = ...
          clientSecret = 'my_new_client_secret'

          api.updateClientSecret(clientIdentifier, clientSecret)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          clientIdentifier := ...
          clientSecret := "my_new_client_secret"

          api.UpdateClientSecret(clientIdentifier, clientSecret)
      - lang: ts
        label: deno
        source: |
          // This API is not supported yet.
  /api/client/authorization/get/list/{subject}:
    get:
      description: |
        Get a list of client applications that an end-user has authorized.

        The subject parameter is required and can be provided either in the path or as a query parameter.
      operationId: client_authorization_get_list_api
      parameters:
      - description: |
          Unique user ID of an end-user.
        in: path
        name: subject
        required: true
        schema:
          type: string
      - description: |
          Unique user ID of an end-user.
        in: query
        name: subject
        required: true
        schema:
          type: string
      - description: |
          Unique ID of a client developer.
        in: query
        name: developer
        required: false
        schema:
          type: string
      - description: Start index of search results (inclusive). The default value
          is 0.
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
      - description: |
          End index of search results (exclusive). The default value is 5.
        in: query
        name: end
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                clients:
                - applicationType: WEB
                  attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                  authTimeRequired: false
                  bcUserCodeRequired: false
                  clientId: 26478243745571
                  clientIdAlias: my-client
                  clientIdAliasEnabled: true
                  clientName: My client
                  clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                  clientType: CONFIDENTIAL
                  createdAt: 1639468356000
                  defaultMaxAge: 0
                  derivedSectorIdentifier: my-client.example.com
                  developer: john
                  dynamicallyRegistered: false
                  frontChannelRequestObjectEncryptionRequired: false
                  grantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                  idTokenSignAlg: RS256
                  modifiedAt: 1639468356000
                  number: 6164
                  parRequired: false
                  redirectUris:
                  - https://my-client.example.com/cb1
                  - https://my-client.example.com/cb2
                  requestObjectEncryptionAlgMatchRequired: false
                  requestObjectEncryptionEncMatchRequired: false
                  requestObjectRequired: false
                  responseTypes:
                  - CODE
                  - TOKEN
                  serviceNumber: 5041
                  subjectType: PUBLIC
                  tlsClientCertificateBoundAccessTokens: false
                  tokenAuthMethod: CLIENT_SECRET_BASIC
                end: 5
                start: 0
                subject: john
                totalCount: 1
              schema:
                $ref: '#/components/schemas/client_authorization_get_list_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/authorization/get/list/{subject} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/client/authorization/get/list/john?start=0\&end=5 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          ClientAuthorizationGetListRequest req = new ClientAuthorizationGetListRequest();
          req.setSubject("john");
          req.setStart(0);
          req.setEnd(5);

          api.getClientAuthorizationList(req);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = new AuthletePropertiesConfiguration();
          IAuthleteApi api = new AuthleteApi(conf);

          ClientAuthorizationGetListRequest req = new ClientAuthorizationGetListRequest();
          req.Subject = "john";
          req.Start = 0;
          req.End = 5;

          await api.GetClientAuthorizationList(req);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $req = new ClientAuthorizationGetListRequest();
          $req.setSubject("john");
          $req.setStart(0);
          $req.setEnd(5);

          $api.getClientAuthorizationList($req);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          req = Authlete::Model::Request::ClientAuthorizationGetListRequest.new
          req.subject = 'john'
          req.start = 0
          req.end = 5

          api.get_client_authorization_list(req)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          req = ClientAuthorizationGetListRequest()
          req.subject = 'john'
          req.start = 0
          req.end = 5

          api.getClientAuthorizationList(req)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          req := dto.ClientAuthorizationGetListRequest{}
          req.Subject = "john"
          req.Start = 0
          req.End = 5

          api.GetClientAuthorizationList(&req)
      - lang: ts
        label: deno
        source: |
          // This API is not supported yet.
  /api/client/authorization/get/list:
    $ref: ./api/client_authorization_get_list_api.yaml
  /api/client/authorization/update/{clientId}:
    $ref: ./api/client_authorization_update_api.yaml
  /api/client/authorization/delete/{clientId}/{subject}:
    $ref: ./api/client_authorization_delete_api.yaml
  /api/client/granted_scopes/get/{clientId}/{subject}:
    $ref: ./api/client_granted_scopes_get_api.yaml
  /api/client/granted_scopes/get/{clientId}:
    $ref: ./api/client_granted_scopes_get_api.yaml
  /api/client/granted_scopes/delete/{clientId}/{subject}:
    $ref: ./api/client_granted_scopes_delete_api.yaml
  /api/auth/authorization:
    $ref: ./api/auth_authorization_api.yaml
  /api/auth/authorization/fail:
    $ref: ./api/auth_authorization_fail_api.yaml
  /api/auth/authorization/issue:
    $ref: ./api/auth_authorization_issue_api.yaml
  /api/pushed_auth_req:
    $ref: ./api/pushed_auth_req_api.yaml
  /api/auth/token:
    $ref: ./api/auth_token_api.yaml
  /api/auth/token/fail:
    $ref: ./api/auth_token_fail_api.yaml
  /api/auth/token/issue:
    $ref: ./api/auth_token_issue_api.yaml
  /api/auth/introspection:
    $ref: ./api/auth_introspection_api.yaml
  /api/auth/introspection/standard:
    $ref: ./api/auth_introspection_standard_api.yaml
  /api/auth/revocation:
    $ref: ./api/auth_revocation_api.yaml
  /api/auth/userinfo:
    $ref: ./api/auth_userinfo_api.yaml
  /api/auth/userinfo/issue:
    $ref: ./api/auth_userinfo_issue_api.yaml
  /api/gm:
    $ref: ./api/grant_m_api.yaml
  /api/service/jwks/get:
    $ref: ./api/service_jwks_get_api.yaml
  /api/service/configuration:
    $ref: ./api/service_configuration_api.yaml
  /api/client/registration:
    $ref: ./api/client_registration_api.yaml
  /api/client/registration/get:
    $ref: ./api/client_registration_get_api.yaml
  /api/client/registration/update:
    $ref: ./api/client_registration_update_api.yaml
  /api/client/registration/delete:
    $ref: ./api/client_registration_delete_api.yaml
  /api/backchannel/authentication:
    $ref: ./api/backchannel_authentication_api.yaml
  /api/backchannel/authentication/issue:
    $ref: ./api/backchannel_authentication_issue_api.yaml
  /api/backchannel/authentication/fail:
    $ref: ./api/backchannel_authentication_fail_api.yaml
  /api/backchannel/authentication/complete:
    $ref: ./api/backchannel_authentication_complete_api.yaml
  /api/device/authorization:
    $ref: ./api/device_authorization_api.yaml
  /api/device/verification:
    $ref: ./api/device_verification_api.yaml
  /api/device/complete:
    $ref: ./api/device_complete_api.yaml
  /api/auth/token/get/list:
    $ref: ./api/auth_token_get_list_api.yaml
  /api/auth/token/create:
    $ref: ./api/auth_token_create_api.yaml
  /api/auth/token/update:
    $ref: ./api/auth_token_update_api.yaml
  /api/auth/token/delete/{accessTokenIdentifier}:
    $ref: ./api/auth_token_delete_api.yaml
  /api/auth/token/revoke:
    $ref: ./api/auth_token_revoke_api.yaml
  /api/jose/verify:
    $ref: ./api/jose_verify_api.yaml
  /api/federation/configuration:
    $ref: ./api/federation_configuration_api.yaml
  /api/info:
    $ref: ./api/info_api.yaml
components:
  responses:
    "400":
      content:
        application/json:
          example:
            resultCode: A001201
            resultMessage: "[A001201] /auth/authorization, TLS must be used."
          schema:
            $ref: '#/components/schemas/result'
      description: ""
    "401":
      content:
        application/json:
          example:
            resultCode: A001202
            resultMessage: "[A001202] /auth/authorization, Authorization header is\
              \ missing."
          schema:
            $ref: '#/components/schemas/result'
      description: ""
    "403":
      content:
        application/json:
          example:
            resultCode: A001215
            resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)\
              \ is locked."
          schema:
            $ref: '#/components/schemas/result'
      description: ""
    "500":
      content:
        application/json:
          example:
            resultCode: A001101
            resultMessage: "[A001101] /auth/authorization, Authlete Server error."
          schema:
            $ref: '#/components/schemas/result'
      description: ""
  schemas:
    AccessToken:
      $ref: ./model/access_token.yaml
    ApplicationType:
      $ref: ./model/application_type.yaml
    AuthorizationDetails:
      $ref: ./model/authorization_details.yaml
    AuthorizationDetailsElement:
      $ref: ./model/authorization_details_element.yaml
    ClaimType:
      $ref: ./model/claim_type.yaml
    ClientAuthenticationMethod:
      $ref: ./model/client_authentication_method.yaml
    ClientExtension:
      $ref: ./model/client_extension.yaml
    Client:
      example:
        serviceNumber: 6
        applicationType: "{}"
        bcNotificationEndpoint: bcNotificationEndpoint
        tlsClientAuthSanEmail: tlsClientAuthSanEmail
        modifiedAt: 5
        logoUris:
        - "{}"
        - "{}"
        singleAccessTokenPerSubject: true
        dpopRequired: true
        signedJwksUri: signedJwksUri
        descriptions:
        - "{}"
        - "{}"
        subjectType: "{}"
        clientNames:
        - "{}"
        - "{}"
        number: 0
        createdAt: 5
        automaticallyRegistered: true
        clientType: "{}"
        tlsClientCertificateBoundAccessTokens: true
        bcDeliveryMode: bcDeliveryMode
        idTokenEncryptionEnc: "{}"
        clientSecret: clientSecret
        selfSignedCertificateKeyId: selfSignedCertificateKeyId
        idTokenSignAlg: "{}"
        clientUri: clientUri
        trustChain:
        - trustChain
        - trustChain
        tlsClientAuthSanDns: tlsClientAuthSanDns
        organizationName: organizationName
        tlsClientAuthSanIp: tlsClientAuthSanIp
        policyUris:
        - "{}"
        - "{}"
        parRequired: true
        derivedSectorIdentifier: derivedSectorIdentifier
        logoUri: logoUri
        requestObjectEncryptionEncMatchRequired: true
        redirectUris:
        - redirectUris
        - redirectUris
        rsResponseSigned: true
        requestEncryptionAlg: "{}"
        defaultAcrs:
        - defaultAcrs
        - defaultAcrs
        requestObjectEncryptionAlgMatchRequired: true
        trustChainExpiresAt: 7
        grantTypes:
        - "{}"
        - "{}"
        authorizationEncryptionEnc: "{}"
        pkceS256Required: true
        tlsClientAuthSubjectDn: tlsClientAuthSubjectDn
        tosUri: tosUri
        requestUris:
        - requestUris
        - requestUris
        explicitlyRegistered: true
        softwareVersion: softwareVersion
        authorizationSignAlg: "{}"
        registrationAccessTokenHash: registrationAccessTokenHash
        extension: "{}"
        jwks: jwks
        clientUris:
        - "{}"
        - "{}"
        clientName: clientName
[...]
