openapi: 3.0.3
info:
  description: |
    Authlete API Document.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Authlete API
  version: 2.2.25
servers:
- description: Shared production server.
  url: https://api.authlete.com
tags:
- description: desc1
  name: Service Management
- description: desc1
  name: Client Management
- description: desc1
  name: Authorization Endpoint
- description: desc1
  name: Token Endpoint
- description: desc1
  name: Introspection Endpoint
- description: desc1
  name: Revocation Endpoint
- description: desc1
  name: UserInfo Endpoint
- description: desc1
  name: JWK Set Endpoint
- description: desc1
  name: Discovery Endpoint
- description: desc1
  name: Configuration Endpoint
- description: desc1
  name: Dynamic Client Registration
- description: desc1
  name: CIBA
- description: desc1
  name: Device Flow
- description: desc1
  name: Token Operations
- description: desc1
  name: Jose Object
paths:
  /api/service/get/{serviceApiKey}:
    get:
      description: |
        Get a service.
      operationId: service_get_api
      parameters:
      - description: The API key of a service.
        in: path
        name: serviceApiKey
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                - key: clientCount
                  value: "1"
                missingClientIdAllowed: false
                modifiedAt: 1639373421000
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                - NORMAL
                supportedDisplays:
                - PAGE
                supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                - CODE
                supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedScopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
                supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /service/get/{serviceApiKey}, TLS must be\
                  \ used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /service/get/{serviceApiKey}, Authorization\
                  \ header is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /service/get/{serviceApiKey}, The service\
                  \ owner (API Key = 9503564192) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /service/get/{serviceApiKey}, Authlete Server\
                  \ error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceOwnerCredentials: []
      summary: "/api/service/get/{serviceApiKey} API"
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/service/get/21653835348762 \
          -u '9503564192:cxRpzPEkvqYbDu14gpCVKi_p6kMQvcW-lBMi7IfWLK4'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long serviceApiKey = ...;

          api.getService(serviceApiKey);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          long serviceApiKey = ...;

          await api.GetService(serviceApiKey);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $serviceApiKey = ...;

          $api.getService($serviceApiKey);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          service_api_key = ...

          api.service_get(service_api_key)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          serviceApiKey = ...

          api.getService(serviceApiKey)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          serviceApiKey := ...

          api.GetService(serviceApiKey)
      - lang: ts
        label: deno
        source: "const conf: AuthleteConfiguration = ...;\nconst api: AuthleteApi\
          \ = new AuthleteApiImpl(conf);\n\nconst serviceApiKey = ...;\n\nawait api.getService(serviceApiKey);\n"
  /api/service/get/list:
    get:
      description: |
        Get a list of services.
      operationId: service_get_list_api
      parameters:
      - description: Start index (inclusive) of the result set. The default value
          is 0. Must not be a negative number.
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
      - description: End index (exclusive) of the result set. The default value is
          5. Must not be a negative number.
        in: query
        name: end
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                start: 0
                end: 5
                totalCount: 1
                services:
                - accessTokenDuration: 3600
                  accessTokenType: Bearer
                  allowableClockSkew: 0
                  apiKey: 21653835348762
                  apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                  attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                  authorizationEndpoint: https://as.example.com/authz
                  authorizationResponseDuration: 0
                  backchannelAuthReqIdDuration: 0
                  backchannelBindingMessageRequiredInFapi: false
                  backchannelPollingInterval: 0
                  backchannelUserCodeParameterSupported: false
                  claimShortcutRestrictive: false
                  clientIdAliasEnabled: true
                  clientsPerDeveloper: 0
                  createdAt: 1639373421000
                  dcrScopeUsedAsRequestable: false
                  deviceFlowCodeDuration: 0
                  deviceFlowPollingInterval: 0
                  directAuthorizationEndpointEnabled: false
                  directIntrospectionEndpointEnabled: false
                  directJwksEndpointEnabled: false
                  directRevocationEndpointEnabled: false
                  directTokenEndpointEnabled: false
                  directUserInfoEndpointEnabled: false
                  dynamicRegistrationSupported: false
                  errorDescriptionOmitted: false
                  errorUriOmitted: false
                  frontChannelRequestObjectEncryptionRequired: false
                  grantManagementActionRequired: false
                  hsmEnabled: false
                  idTokenDuration: 0
                  introspectionEndpoint: https://my-service.example.com/introspection
                  issSuppressed: false
                  issuer: https://my-service.example.com
                  metadata:
                  - key: clientCount
                    value: "1"
                  missingClientIdAllowed: false
                  modifiedAt: 1639373421000
                  mutualTlsValidatePkiCertChain: false
                  nbfOptional: false
                  number: 5041
                  parRequired: false
                  pkceRequired: true
                  pkceS256Required: false
                  pushedAuthReqDuration: 0
                  refreshTokenDuration: 3600
                  refreshTokenDurationKept: false
                  refreshTokenDurationReset: false
                  refreshTokenKept: false
                  requestObjectEncryptionAlgMatchRequired: false
                  requestObjectEncryptionEncMatchRequired: false
                  requestObjectRequired: false
                  revocationEndpoint: https://my-service.example.com/revocation
                  scopeRequired: false
                  serviceName: My service
                  serviceOwnerNumber: 2
                  singleAccessTokenPerSubject: false
                  supportedClaimTypes:
                  - NORMAL
                  supportedDisplays:
                  - PAGE
                  supportedGrantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                  supportedIntrospectionAuthMethods:
                  - CLIENT_SECRET_BASIC
                  supportedResponseTypes:
                  - CODE
                  supportedRevocationAuthMethods:
                  - CLIENT_SECRET_BASIC
                  supportedScopes:
                  - defaultEntry: false
                    description: A permission to read your history.
                    name: history.read
                  - defaultEntry: false
                    description: A permission to read your timeline.
                    name: timeline.read
                  supportedTokenAuthMethods:
                  - CLIENT_SECRET_BASIC
                  tlsClientCertificateBoundAccessTokens: false
                  tokenEndpoint: https://my-service.example.com/token
                  tokenExpirationLinked: false
                  traditionalRequestObjectProcessingApplied: false
                  unauthorizedOnClientConfigSupported: false
                  userCodeLength: 0
              schema:
                $ref: '#/components/schemas/service_get_list_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /service/get/list, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /service/get/list, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /service/get/list, The service owner (API\
                  \ Key = 9503564192) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /service/get/list, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceOwnerCredentials: []
      summary: /api/service/get/list API
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/service/get/list?start=0\&end=5 \
          -u '9503564192:cxRpzPEkvqYbDu14gpCVKi_p6kMQvcW-lBMi7IfWLK4'
      - lang: java
        label: java
        source: "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\
          \nint start = 0;\nint end = 5;\n\napi.getServiceList(start, end);\n"
      - lang: cs
        label: C#
        source: "IAuthleteConfiguration conf = ...;\nIAuthleteApi api = new AuthleteApi(conf);\n\
          \nint start = 0;\nint end = 5;\n\nawait api.GetServiceList(start, end);\n"
      - lang: php
        label: PHP
        source: "$conf = ...;\n$api = new AuthleteApiImpl($conf);\n\n$start = 0;\n\
          $end = 5;\n\n$api.getServiceList($start, $end);\n"
      - lang: ruby
        source: "conf = ...\napi = Authlete::Api.new(conf)\n\nreq = { start: 0, end:\
          \ 5 }\n\napi.service_get_list(req)\n"
      - lang: python
        source: "conf = ...\napi = AuthleteApiImpl(conf)\n\nstart = 0\nend = 5\n\n\
          api.getServiceList(start, end)\n"
      - lang: go
        source: "conf := ...\napi := api.New(&conf)\n\nstart := 0\nend := 5\n\napi.GetServiceList(start,\
          \ end)\n"
      - lang: ts
        label: deno
        source: "const conf: AuthleteConfiguration = ...;\nconst api: AuthleteApi\
          \ = new AuthleteApiImpl(conf);\n\nconst start = 0;\nconst end = 5;\n\nawait\
          \ api.getServiceList(start, end);\n"
  /api/service/create:
    post:
      description: |
        Create a new service.
      operationId: service_create_api
      requestBody:
        content:
          application/json:
            example:
              serviceName: My service
              issuer: https://my-service.example.com
              clientIdAliasEnabled: true
              supportedGrantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              supportedResponseTypes:
              - CODE
              authorizationEndpoint: https://my-service.example.com/authz
              pkceRequired: true
              tokenEndpoint: https://my-service.example.com/token
              supportedTokenAuthMethods:
              - CLIENT_SECRET_BASIC
              revocationEndpoint: https://my-service.example.com/revocation
              supportedRevocationAuthMethods:
              - CLIENT_SECRET_BASIC
              introspectionEndpoint: https://my-service.example.com/introspection
              supportedIntrospectionAuthMethods:
              - CLIENT_SECRET_BASIC
              accessTokenType: Bearer
              accessTokenDuration: 3600
              refreshTokenDuration: 3600
              supportedScopes:
              - name: timeline.read
                defaultEntry: false
                description: A permission to read your timeline.
              - name: history.read
                defaultEntry: false
                description: A permission to read your history.
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
            schema:
              $ref: '#/components/schemas/Service'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Service'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                - key: clientCount
                  value: "0"
                missingClientIdAllowed: false
                modifiedAt: 1639373421000
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                - NORMAL
                supportedDisplays:
                - PAGE
                supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                - CODE
                supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedScopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
                supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /service/create, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /service/create, Authorization header is\
                  \ missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /service/create, The service owner (API\
                  \ Key = 9503564192) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /service/create, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceOwnerCredentials: []
      summary: /api/service/create API
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: "curl -v -X POST https://api.authlete.com/api/service/create \\\n\
          -H 'Content-Type:application/json' \\\n-u '9503564192:cxRpzPEkvqYbDu14gpCVKi_p6kMQvcW-lBMi7IfWLK4'\
          \ \\\n-d '{ \"serviceName\": \"My Service\", ... }'\n"
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          Service service = new Service();
          service.setServiceName("My Service");
          ...

          api.createService(service);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          Service service = new Service();
          service.ServiceName = "My Service";
          ...

          await api.CreateService(service);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $service = new Service();
          $service.setServiceName("My Service");
          ...

          $api.createService($service);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          service = Authlete::Model::Service.new
          service.service_name = 'My Service'
          ...

          api.service_create(service)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          service = Service()
          service.serviceName = 'My Service'
          ...

          api.createService(service)
      - lang: go
        source: "conf := ...\napi := api.New(&conf)\n\nservice := dto.Service{}\n\
          service.ServiceName = \"My Service\"\n...\n\napi.CreateService(&service)\n"
      - lang: ts
        label: deno
        source: "const conf: AuthleteConfiguration = ...;\nconst api: AuthleteApi\
          \ = new AuthleteApiImpl(conf);\n\nconst service = new Service();\nservice.serviceName\
          \ = 'My Service';\n...\n\nawait api.createService(service);\n"
  /api/service/update/{serviceApiKey}:
    post:
      description: |
        Update a service.
      operationId: service_update_api
      parameters:
      - description: The API key of the target service.
        in: path
        name: serviceApiKey
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              accessTokenDuration: 3600
              accessTokenType: Bearer
              allowableClockSkew: 0
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
              authorizationEndpoint: https://my-service.example.com/authz
              authorizationResponseDuration: 0
              backchannelAuthReqIdDuration: 0
              backchannelBindingMessageRequiredInFapi: false
              backchannelPollingInterval: 0
              backchannelUserCodeParameterSupported: false
              claimShortcutRestrictive: false
              clientIdAliasEnabled: true
              clientsPerDeveloper: 0
              dcrScopeUsedAsRequestable: false
              deviceFlowCodeDuration: 0
              deviceFlowPollingInterval: 0
              directAuthorizationEndpointEnabled: false
              directIntrospectionEndpointEnabled: false
              directJwksEndpointEnabled: false
              directRevocationEndpointEnabled: false
              directTokenEndpointEnabled: false
              directUserInfoEndpointEnabled: false
              dynamicRegistrationSupported: false
              errorDescriptionOmitted: false
              errorUriOmitted: false
              frontChannelRequestObjectEncryptionRequired: false
              grantManagementActionRequired: false
              hsmEnabled: false
              idTokenDuration: 0
              introspectionEndpoint: https://my-service.example.com/introspection
              issSuppressed: false
              issuer: https://my-service.example.com
              missingClientIdAllowed: false
              mutualTlsValidatePkiCertChain: false
              nbfOptional: false
              parRequired: false
              pkceRequired: true
              pkceS256Required: false
              pushedAuthReqDuration: 0
              refreshTokenDuration: 3600
              refreshTokenDurationKept: false
              refreshTokenDurationReset: false
              refreshTokenKept: false
              requestObjectEncryptionAlgMatchRequired: false
              requestObjectEncryptionEncMatchRequired: false
              requestObjectRequired: false
              revocationEndpoint: https://my-service.example.com/revocation
              scopeRequired: false
              serviceName: My updated service
              singleAccessTokenPerSubject: false
              supportedClaimTypes:
              - NORMAL
              supportedDisplays:
              - PAGE
              supportedGrantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              supportedIntrospectionAuthMethods:
              - CLIENT_SECRET_BASIC
              supportedResponseTypes:
              - CODE
              supportedRevocationAuthMethods:
              - CLIENT_SECRET_BASIC
              supportedScopes:
              - defaultEntry: false
                description: A permission to read your history.
                name: history.read
              - defaultEntry: false
                description: A permission to read your timeline.
                name: timeline.read
              supportedTokenAuthMethods:
              - CLIENT_SECRET_BASIC
              tlsClientCertificateBoundAccessTokens: false
              tokenEndpoint: https://my-service.example.com/token
              tokenExpirationLinked: false
              traditionalRequestObjectProcessingApplied: false
              unauthorizedOnClientConfigSupported: false
              userCodeLength: 0
            schema:
              $ref: '#/components/schemas/Service'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Service'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /service/update/{serviceApiKey}, TLS must\
                  \ be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /service/update/{serviceApiKey}, Authorization\
                  \ header is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /service/update/{serviceApiKey}, The service\
                  \ owner (API Key = 9503564192) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /service/update/{serviceApiKey}, Authlete\
                  \ Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceOwnerCredentials: []
      summary: "/api/service/update/{serviceApiKey} API"
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: "curl -v -X POST https://api.authlete.com/api/service/update/21653835348762\
          \ \\\n-H 'Content-Type:application/json' \\\n-u '9503564192:cxRpzPEkvqYbDu14gpCVKi_p6kMQvcW-lBMi7IfWLK4'\
          \ \\\n-d '{ \"serviceName\": \"My updated service\", ... }'\n"
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          // Get an existing service.
          long serviceApiKey = ...;
          Service service = api.getService(serviceApiKey);

          // Update "service name".
          service.setAServiceName("My updated service");

          api.updateService(service);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          // Get an existing service.
          long serviceApiKey = ...;
          Service service = api.GetService(serviceApiKey);

          // Update "service name".
          service.ServiceName = "My updated service";

          await api.UpdateService(service);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          // Get an existing service.
          $serviceApiKey = ...;
          $api.getService($serviceApiKey);

          // Update "service name".
          service.setServiceName("My updated service");

          $api.updateService($service);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          service_api_key = ...
          api.service_get(service_api_key)

          # Update "service name".
          service.serviceName = 'My updated service';

          api.service_update(service)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          # Get an existing service.
          serviceApiKey = ...
          service = api.getService(serviceApiKey)

          # Update "service name".
          service.serviceName = 'My updated service'

          api.updateService(service)
      - lang: go
        source: "conf := ...\napi := api.New(&conf)\n\n// Get an existing service.\n\
          serviceApiKey := ...\nservice, _ := api.GetService(serviceApiKey)\n\n//\
          \ Update \"service name\".\nservice.ServiceName := \"My updated service\"\
          \n\napi.UpdateService(&service)\n"
      - lang: ts
        label: deno
        source: "const conf: AuthleteConfiguration = ...;\nconst api: AuthleteApi\
          \ = new AuthleteApiImpl(conf);\n\n// Get an existing service.\nconst serviceApiKey\
          \ = ...;\nconst service = await api.getService(serviceApiKey);\n\n// Update\
          \ \"service name\".\nservice.serviceName = 'My updated service';\n\nawait\
          \ api.updateService(service);\n"
  /api/service/delete/{serviceApiKey}:
    delete:
      description: |
        Delete a service.
      operationId: service_delete_api
      parameters:
      - description: The API key of the target service.
        in: path
        name: serviceApiKey
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The service was successfully deleted.
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /service/delete/{serviceApiKey}, TLS must\
                  \ be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /service/delete/{serviceApiKey}, Authorization\
                  \ header is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /service/delete/{serviceApiKey}, The service\
                  \ owner (API Key = 9503564192) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /service/delete/{serviceApiKey}, Authlete\
                  \ Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceOwnerCredentials: []
      summary: "/api/service/delete/{serviceApiKey} API"
      tags:
      - Service Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X DELETE https://api.authlete.com/api/service/delete/21653835348762 \
          -u '9503564192:cxRpzPEkvqYbDu14gpCVKi_p6kMQvcW-lBMi7IfWLK4'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long serviceApiKey = ...;

          api.deleteService(serviceApiKey);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          long serviceApiKey = ...;

          await api.DeleteService(serviceApiKey);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $serviceApiKey = ...;

          $api.deleteService($serviceApiKey);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          service_api_key = ...

          api.service_delete(service_api_key)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          serviceApiKey = ...

          api.deleteService(serviceApiKey)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          serviceApiKey := ...

          api.DeleteService(serviceApiKey)
      - lang: ts
        label: deno
        source: "const conf: AuthleteConfiguration = ...;\nconst api: AuthleteApi\
          \ = new AuthleteApiImpl(conf);\n\nconst serviceApiKey = ...;\n\nawait api.deleteService(serviceApiKey);\n"
  /api/client/get/{clientId}:
    get:
      description: |
        Get a client.
      operationId: client_get_api
      parameters:
      - description: A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                applicationType: WEB
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639468356000
                number: 6164
                parRequired: false
                redirectUris:
                - https://my-client.example.com/cb1
                - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                - CODE
                - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
              schema:
                $ref: '#/components/schemas/Client'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /client/get/{clientId}, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /client/get/{clientId}, Authorization header\
                  \ is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /client/get/{clientId}, The service (API\
                  \ Key = 21653835348762) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /client/get/{clientId}, Authlete Server\
                  \ error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/get/{clientId} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/client/get/26478243745571 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long clientId = ...;

          api.getClient(clientId);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          long clientId = ...;

          await api.GetClient(clientId);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $clientId = ...;

          $api.getClient($clientId);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          client_id = ...

          api.client_get(client_id)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientId = ...

          api.getClient(clientId)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          clientId := ...

          api.GetClient(clientId)
      - lang: ts
        label: deno
        source: "const conf: AuthleteConfiguration = ...;\nconst api: AuthleteApi\
          \ = new AuthleteApiImpl(conf);\n\nconst clientId = ...;\n\nawait api.getClient(clientId);\n"
  /api/client/get/list:
    get:
      description: |
        Get a list of clients.
      operationId: client_get_list_api
      parameters:
      - description: "The developer of client applications. The default value is null.\
          \ If this parameter is not set\nto `null`, client application of the specified\
          \ developer are returned. Otherwise, all client\napplications that belong\
          \ to the service are returned.\n"
        in: query
        name: developer
        required: false
        schema:
          type: string
      - description: Start index (inclusive) of the result set. The default value
          is 0. Must not be a negative number.
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
      - description: End index (exclusive) of the result set. The default value is
          5. Must not be a negative number.
        in: query
        name: end
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                clients:
                - applicationType: WEB
                  attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                  authTimeRequired: false
                  bcUserCodeRequired: false
                  clientId: 26478243745571
                  clientIdAlias: my-client
                  clientIdAliasEnabled: true
                  clientName: My client
                  clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                  clientType: CONFIDENTIAL
                  createdAt: 1639468356000
                  defaultMaxAge: 0
                  derivedSectorIdentifier: my-client.example.com
                  developer: john
                  dynamicallyRegistered: false
                  frontChannelRequestObjectEncryptionRequired: false
                  grantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                  idTokenSignAlg: RS256
                  modifiedAt: 1639468356000
                  number: 6164
                  parRequired: false
                  redirectUris:
                  - https://my-client.example.com/cb1
                  - https://my-client.example.com/cb2
                  requestObjectEncryptionAlgMatchRequired: false
                  requestObjectEncryptionEncMatchRequired: false
                  requestObjectRequired: false
                  responseTypes:
                  - CODE
                  - TOKEN
                  serviceNumber: 5041
                  subjectType: PUBLIC
                  tlsClientCertificateBoundAccessTokens: false
                  tokenAuthMethod: CLIENT_SECRET_BASIC
                developer: john
                end: 3
                start: 0
                totalCount: 1
              schema:
                $ref: '#/components/schemas/client_get_list_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /client/get/list, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /client/get/list, Authorization header is\
                  \ missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /client/get/list, The service (API Key =\
                  \ 21653835348762) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /client/get/list, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: /api/client/get/list API
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/client/get/list?developer=john\&start=0\&end=5 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\
          \nString developer = \"john\";\nint start = 0;\nint end = 5;\n\napi.getClientList(developer,\
          \ start, end);\n"
      - lang: cs
        label: C#
        source: "IAuthleteConfiguration conf = ...;\nIAuthleteApi api = new AuthleteApi(conf);\n\
          \nString developer = \"john\";\nint start = 0;\nint end = 5;\n\nawait api.GetClientList(developer,\
          \ start, end);\n"
      - lang: php
        label: PHP
        source: "$conf = ...;\n$api = new AuthleteApiImpl($conf);\n\n$developer =\
          \ \"john\";\n$start = 0;\n$end = 5;\n\n$api.getClientList($developer, $start,\
          \ $end);\n"
      - lang: ruby
        source: "conf = ...\napi = Authlete::Api.new(conf)\n\nreq = { developer: 'john',\
          \ start: 0, end: 5 }\n\napi.client_list_get(req)\n"
      - lang: python
        source: "conf = ...\napi = AuthleteApiImpl(conf)\n\ndeveloper = 'john'\nstart\
          \ = 0\nend = 5\n\napi.getClientList(developer, start, end)\n"
      - lang: go
        source: "conf := ...\napi := api.New(&conf)\n\ndeveloper = \"john\"\nstart\
          \ := 0\nend := 5\n\napi.GetClientList(developer, start, end)\n"
      - lang: ts
        label: deno
        source: "const conf: AuthleteConfiguration = ...;\nconst api: AuthleteApi\
          \ = new AuthleteApiImpl(conf);\n\nconst developer = 'john';\nconst start\
          \ = 0;\nconst end = 5;\n\nawait api.getClientList(developer, start, end);\n"
  /api/client/create:
    post:
      description: |
        Create a new client.
      operationId: client_create_api
      requestBody:
        content:
          application/json:
            example:
              developer: john
              clientName: My Client
              clientIdAlias: my-client
              clientIdAliasEnabled: true
              clientType: CONFIDENTIAL
              applicationType: WEB
              grantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              responseTypes:
              - CODE
              - TOKEN
              redirectUris:
              - https://my-client.example.com/cb1
              - https://my-client.example.com/cb2
              tokenAuthMethod: CLIENT_SECRET_BASIC
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
            schema:
              $ref: '#/components/schemas/Client'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                applicationType: WEB
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639468356000
                number: 6164
                parRequired: false
                redirectUris:
                - https://my-client.example.com/cb1
                - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                - CODE
                - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
              schema:
                $ref: '#/components/schemas/Client'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /client/create, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /client/create, Authorization header is\
                  \ missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /client/create, The service (API Key = 21653835348762)\
                  \ is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /client/create, Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: /api/client/create API
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: "curl -v -X POST https://api.authlete.com/api/client/create \\\n-H\
          \ 'Content-Type:application/json' \\\n-u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'\
          \ \\\n-d '{ \"developer\": \"john\", \"clientName\": \"My Client\", ...\
          \ }'\n"
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          Client client = new Client();
          client.setDeveloper("john");
          client.setClientName("My Client");
          ...

          api.createClient(client);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          Client client = new Client();
          client.Developer = "john";
          client.ClientName = "My Client";
          ...

          await api.CreateClient(client);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $client = new Client();
          $client.setDeveloper("john");
          $client.setClientName("My Client");
          ...

          $api.createClient($client);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          client = Authlete::Model::Client.new
          client.developer = 'john'
          client.client_name = 'My Client'
          ...

          api.client_create(client)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          client = Client()
          client.developer = 'john'
          client.clientName = 'My Client'
          ...

          api.createClient(client)
      - lang: go
        source: "conf := ...\napi := api.New(&conf)\n\nclient := dto.Client{}\nclient.Developer\
          \ = \"john\"\nclient.ClientName = \"My Client\"\n...\n\napi.CreateClient(client)\n"
      - lang: ts
        label: deno
        source: "const conf: AuthleteConfiguration = ...;\nconst api: AuthleteApi\
          \ = new AuthleteApiImpl(conf);\n\nconst client = new Client();\nclient.developer\
          \ = 'john';\nclient.clientName = 'My Client';\n...\n\nawait api.createClient(client);\n"
  /api/client/update/{clientId}:
    post:
      description: |
        Update a client.
      operationId: client_update_api
      parameters:
      - description: A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              applicationType: WEB
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
              authTimeRequired: false
              bcUserCodeRequired: false
              clientIdAlias: my-client
              clientIdAliasEnabled: true
              clientName: My updated client
              clientType: CONFIDENTIAL
              defaultMaxAge: 0
              derivedSectorIdentifier: my-client.example.com
              developer: john
              dynamicallyRegistered: false
              frontChannelRequestObjectEncryptionRequired: false
              grantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              idTokenSignAlg: RS256
              parRequired: false
              redirectUris:
              - https://my-client.example.com/cb1
              - https://my-client.example.com/cb2
              requestObjectEncryptionAlgMatchRequired: false
              requestObjectEncryptionEncMatchRequired: false
              requestObjectRequired: false
              responseTypes:
              - CODE
              - TOKEN
              subjectType: PUBLIC
              tlsClientCertificateBoundAccessTokens: false
              tokenAuthMethod: CLIENT_SECRET_BASIC
            schema:
              $ref: '#/components/schemas/Client'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Client'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                applicationType: WEB
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My updated client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639557082764
                number: 6164
                parRequired: false
                redirectUris:
                - https://my-client.example.com/cb1
                - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                - CODE
                - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
              schema:
                $ref: '#/components/schemas/Client'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /client/update/{clientId}, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /client/update/{clientId}, Authorization\
                  \ header is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /client/update/{clientId}, The service (API\
                  \ Key = 21653835348762) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /client/update/{clientId}, Authlete Server\
                  \ error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/update/{clientId} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: "curl -v -X POST https://api.authlete.com/api/client/update/26478243745571\
          \ \\\n-H 'Content-Type:application/json' \\\n-u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'\
          \ \\\n-d '{ \"clientName\": \"My updated client\", ... }'\n"
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          // Get an existing client.
          long clientId = ...;
          Client client = api.getClient(clientId);

          // Update "client name".
          client.setClientName("My updated client");

          api.updateClient(client);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          // Get an existing client.
          long clientId = ...;
          Client client = api.GetClient(clientId);

          // Update "client name".
          client.ClientName = "My updated client";

          api.UpdateClient(client);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          // Get an existing client.
          $clientId = ...;
          $client = $api.getClient(clientId);

          // Update "client name".
          $client.setClientName("My updated client");

          $api.updateClient($client);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          # Get an existing client.
          client_id = ...
          client = api.client_get(client_id)

          # Update "client name".
          client.client_name = 'My updated client'

          api.client_update(client)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          # Get an existing client.
          clientId = ...
          client = api.getClient(clientId)

          # Update "client name".
          client.clientName = 'My updated client'

          api.updatedClient(client)
      - lang: go
        source: "conf := ...\napi := api.New(&conf)\n\n// Get an existing client.\n\
          clientId := ...\nclient, _ := api.GetClient(clientId)\n\n// Update \"client\
          \ name\".\nclient.ClientName := \"My updated client\"\n\napi.UpdateClient(&client)\n"
      - lang: ts
        label: deno
        source: "const conf: AuthleteConfiguration = ...;\nconst api: AuthleteApi\
          \ = new AuthleteApiImpl(conf);\n\n// Get an existing client.\nconst clientId\
          \ = ...;\nconst client = await api.getClient(clientId);\n\n// Update \"\
          client name\".\nclient.clientName = 'My updated client';\n\nawait api.updateClient(client);\n"
  /api/client/delete/{clientId}:
    delete:
      description: |
        Delete a client.
      operationId: client_delete_api
      parameters:
      - description: The client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The client was successfully deleted.
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /client/delete/{clientId}, TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /client/delete/{clientId}, Authorization\
                  \ header is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /client/delete/{clientId}, The service (API\
                  \ Key = 21653835348762) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /client/delete/{clientId}, Authlete Server\
                  \ error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/delete/{clientId} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X DELETE https://api.authlete.com/api/client/delete/26478243745571 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long clientId = ...;

          api.deleteClient(clientId);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          long clientId = ...;

          await api.DeleteClient(clientId);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $clientId = ...;

          $api.deleteClient($clientId);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          client_id = ...

          api.client_delete(client_id)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientId = ...

          api.deleteClient(clientId)
      - lang: go
        source: |
          conf := ...
          api := api.New(&conf)

          clientId := ...

          api.DeleteClient(clientId)
      - lang: ts
        label: deno
        source: "const conf: AuthleteConfiguration = ...;\nconst api: AuthleteApi\
          \ = new AuthleteApiImpl(conf);\n\nconst clientId = ...\n\nawait api.deleteClient(clientId);\n"
  /api/client/secret/refresh/{clientIdentifier}:
    get:
      description: "Refresh the client secret of a client. A new value of the client\
        \ secret will be generated by the\nAuthlete server.\n\nIf you want to specify\
        \ a new value, use `/api/client/secret/update` API.\n"
      operationId: client_secret_refresh_api
      parameters:
      - description: |
          The client ID or the client ID alias of a client.
        in: path
        name: clientIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                resultCode: A148001
                resultMessage: "[A148001] Successfully refreshed the client secret\
                  \ of the client (ID = 26478243745571)."
                newClientSecret: 6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA
                oldClientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
              schema:
                $ref: '#/components/schemas/client_secret_refresh_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /client/secret/refresh/{clientIdentifier},\
                  \ TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /client/secret/refresh/{clientIdentifier},\
                  \ Authorization header is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /client/secret/refresh/{clientIdentifier},\
                  \ The service (API Key = 21653835348762) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /client/secret/refresh/{clientIdentifier},\
                  \ Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/secret/refresh/{clientIdentifier} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/client/secret/refresh/26478243745571 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          String clientIdentifier = ...;

          api.refreshClientSecret(clientIdentifier);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = ...;
          IAuthleteApi api = new AuthleteApi(conf);

          string clientIdentifier = ...;

          await api.RefreshClientSecret(clientIdentifier);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $clientIdentifier = ...;

          $api.refreshClientSecret($clientIdentifier);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          client_identifier = ...

          api.refresh_client_secret(client_identifier)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientIdentifier = ...

          api.refreshClientSecret(clientIdentifier)
      - lang: go
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientIdentifier = ...

          api.refreshClientSecret(clientIdentifier)
      - lang: ts
        label: deno
        source: |
          // This API is not supported yet.
  /api/client/secret/update/{clientIdentifier}:
    post:
      description: "Update the client secret of a client.\n\nIf you want to have the\
        \ Authlete server generate a new value of the client secret, use `/api/client/secret/refresh`\n\
        API.\n"
      operationId: client_secret_update_api
      parameters:
      - description: |
          The client ID or the client ID alias of a client.
        in: path
        name: clientIdentifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              clientSecret: my_updated_client_secret
            schema:
              $ref: '#/components/schemas/client_secret_update_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client_secret_update_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                resultCode: A149001
                resultMessage: "[A149001] Successfully updated the client secret of\
                  \ the client (ID = 26478243745571)."
                newClientSecret: my_updated_client_secret
                oldClientSecret: 6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA
              schema:
                $ref: '#/components/schemas/client_secret_update_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /client/secret/update/{clientIdentifier},\
                  \ TLS must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /client/secret/update/{clientIdentifier},\
                  \ Authorization header is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /client/secret/update/{clientIdentifier},\
                  \ The service (API Key = 21653835348762) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /client/secret/update/{clientIdentifier},\
                  \ Authlete Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/secret/update/{clientIdentifier} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: "curl -v https://api.authlete.com/api/client/secret/update/26478243745571\
          \ \\\n-u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls' \\\
          \n-H 'Content-Type:application/json' \\\n-d '{ \"clientSecret\": \"...\"\
          \ }'\n"
      - lang: java
        label: java
        source: "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\
          \nString clientIdentifier = ...;\nString clientSecret = \"my_updated_client_secret\"\
          ;\n\napi.updateClientSecret(clientIdentifier, clientSecret);\n"
      - lang: cs
        label: C#
        source: "IAuthleteConfiguration conf = ...;\nIAuthleteApi api = new AuthleteApi(conf);\n\
          \nstring clientIdentifier = ...;\nstring clientSecret = \"my_new_client_secret\"\
          ;\n\nawait api.UpdateClientSecret(clientIdentifier, clientSecret);\n"
      - lang: php
        label: PHP
        source: "$conf = ...;\n$api = new AuthleteApiImpl($conf);\n\n$clientIdentifier\
          \ = ...;\n$clientSecret = \"my_new_client_secret\";\n\n$api.updateClientSecret($clientIdentifier,\
          \ $clientSecret);\n"
      - lang: ruby
        source: "conf = ...\napi = Authlete::Api.new(conf)\n\nclient_identifier =\
          \ ...\nclient_secret = 'my_new_client_secret'\n\napi.update_client_secret(client_identifier,\
          \ client_secret)\n"
      - lang: python
        source: "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientIdentifier = ...\n\
          clientSecret = 'my_new_client_secret'\n\napi.updateClientSecret(clientIdentifier,\
          \ clientSecret)\n"
      - lang: go
        source: "conf := ...\napi := api.New(&conf)\n\nclientIdentifier := ...\nclientSecret\
          \ := \"my_new_client_secret\"\n\napi.UpdateClientSecret(clientIdentifier,\
          \ clientSecret)\n"
      - lang: ts
        label: deno
        source: |
          // This API is not supported yet.
  /api/client/authorization/get/list/{subject}:
    get:
      description: |
        Get a list of client applications that an end-user has authorized.
      operationId: client_authorization_get_list_api
      parameters:
      - description: |
          Unique user ID of an end-user.
        in: path
        name: subject
        required: true
        schema:
          type: string
      - description: |
          Unique ID of a client developer.
        in: query
        name: developer
        required: false
        schema:
          type: string
      - description: Start index of search results (inclusive). The default value
          is 0.
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
      - description: |
          End index of search results (exclusive). The default value is 5.
        in: query
        name: end
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                clients:
                - applicationType: WEB
                  attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                  authTimeRequired: false
                  bcUserCodeRequired: false
                  clientId: 26478243745571
                  clientIdAlias: my-client
                  clientIdAliasEnabled: true
                  clientName: My client
                  clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                  clientType: CONFIDENTIAL
                  createdAt: 1639468356000
                  defaultMaxAge: 0
                  derivedSectorIdentifier: my-client.example.com
                  developer: john
                  dynamicallyRegistered: false
                  frontChannelRequestObjectEncryptionRequired: false
                  grantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                  idTokenSignAlg: RS256
                  modifiedAt: 1639468356000
                  number: 6164
                  parRequired: false
                  redirectUris:
                  - https://my-client.example.com/cb1
                  - https://my-client.example.com/cb2
                  requestObjectEncryptionAlgMatchRequired: false
                  requestObjectEncryptionEncMatchRequired: false
                  requestObjectRequired: false
                  responseTypes:
                  - CODE
                  - TOKEN
                  serviceNumber: 5041
                  subjectType: PUBLIC
                  tlsClientCertificateBoundAccessTokens: false
                  tokenAuthMethod: CLIENT_SECRET_BASIC
                end: 5
                start: 0
                subject: john
                totalCount: 1
              schema:
                $ref: '#/components/schemas/client_authorization_get_list_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /client/authorization/get/list, TLS must\
                  \ be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /client/authorization/get/list, Authorization\
                  \ header is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /client/authorization/get/list, The service\
                  \ (API Key = 21653835348762) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /client/authorization/get/list, Authlete\
                  \ Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/authorization/get/list/{subject} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/client/authorization/get/list/john?start=0\&end=5 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          ClientAuthorizationGetListRequest req = new ClientAuthorizationGetListRequest();
          req.setSubject("john");
          req.setStart(0);
          req.setEnd(5);

          api.getClientAuthorizationList(req);
      - lang: cs
        label: C#
        source: |
          IAuthleteConfiguration conf = new AuthletePropertiesConfiguration();
          IAuthleteApi api = new AuthleteApi(conf);

          ClientAuthorizationGetListRequest req = new ClientAuthorizationGetListRequest();
          req.Subject = "john";
          req.Start = 0;
          req.End = 5;

          await api.GetClientAuthorizationList(req);
      - lang: php
        label: PHP
        source: |
          $conf = ...;
          $api = new AuthleteApiImpl($conf);

          $req = new ClientAuthorizationGetListRequest();
          $req.setSubject("john");
          $req.setStart(0);
          $req.setEnd(5);

          $api.getClientAuthorizationList($req);
      - lang: ruby
        source: |
          conf = ...
          api = Authlete::Api.new(conf)

          req = Authlete::Model::Request::ClientAuthorizationGetListRequest.new
          req.subject = 'john'
          req.start = 0
          req.end = 5

          api.get_client_authorization_list(req)
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          req = ClientAuthorizationGetListRequest()
          req.subject = 'john'
          req.start = 0
          req.end = 5

          api.getClientAuthorizationList(req)
      - lang: go
        source: "conf := ...\napi := api.New(&conf)\n\nreq := dto.ClientAuthorizationGetListRequest{}\n\
          req.Subject = \"john\"\nreq.Start = 0\nreq.End = 5\n\napi.GetClientAuthorizationList(&req)\n"
      - lang: ts
        label: deno
        source: |
          // This API is not supported yet.
  /api/client/authorization/update/{clientId}:
    post:
      description: |
        Update attributes of all existing access tokens given to a client application.
      operationId: client_authorization_update_api
      parameters:
      - description: |
          A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              subject: john
              scopes:
              - history.read
            schema:
              $ref: '#/components/schemas/client_authorization_update_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client_authorization_update_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                resultCode: A138001
                resultMessage: "[A138001] Updated 1 access token(s) issued to the\
                  \ client (ID = 26478243745571) of the service (API Key = 21653835348762)."
              schema:
                $ref: '#/components/schemas/client_authorization_update_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /client/authorization/update, TLS must be\
                  \ used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /client/authorization/update, Authorization\
                  \ header is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /client/authorization/update, The service\
                  \ (API Key = 21653835348762) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /client/authorization/update, Authlete Server\
                  \ error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/authorization/update/{clientId} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: "curl -v -X POST https://api.authlete.com/api/client/authorization/update/26478243745571\
          \ \\\n-H 'Content-Type:application/json' \\\n-u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'\
          \ \\\n-d '{ \"subject\": \"john\", \"scopes\": [ \"history.read\" ] }'\n"
      - lang: java
        label: java
        source: "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\
          \nlong clientId = ...;\n\nClientAuthorizationUpdateRequest req = new ClientAuthorizationUpdateRequest();\n\
          req.setSubject(\"john\");\nreq.setScopes(new String[]{ \"history.read\"\
          \ });\n\napi.updateClientAuthorization(clientId, req);\n"
      - lang: cs
        label: C#
        source: "IAuthleteConfiguration conf = ...;\nIAuthleteApi api = new AuthleteApi(conf);\n\
          \nlong clientId = ...;\n\nClientAuthorizationUpdateRequest req = new ClientAuthorizationUpdateRequest();\n\
          req.Subject = \"john\";\nreq.Scopes = { \"history.read\" };\n\nawait api.UpdateClientAuthorization(clientId,\
          \ req);\n"
      - lang: php
        label: PHP
        source: "$conf = ...;\n$api = new AuthleteApiImpl($conf);\n\n$clientId = ...;\n\
          \n$req = new ClientAuthorizationUpdateRequest();\n$req.subject = \"john\"\
          ;\n$req.setScopes([ \"history.read\" ]);\n\n$api.updateClientAuthorization($clientId,\
          \ $req);\n"
      - lang: ruby
        source: "conf = ...\napi = Authlete::Api.new(conf)\n\nclient_id = ...\n\n\
          req = Authlete::Model::Request::ClientAuthorizationUpdateRequest.new\nreq.subject\
          \ = 'john'\nreq.scopes = [ 'history.read' ]\n\napi.update_client_authorization(client_id,\
          \ req)\n"
      - lang: python
        source: "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientId = ...\n\nreq\
          \ = ClientAuthorizationUpdateRequest()\nreq.subject = 'john'\nreq.scopes\
          \ = [ 'history.read' ]\n\napi.updateClientAuthorization(clientId, req)\n"
      - lang: go
        source: "conf := ...\napi := api.New(&conf)\n\nclientId := ...\n\nreq := dto.ClientAuthorizationUpdateRequest{}\n\
          req.Subject = \"john\"\nreq.Scopes = [1]string{ \"history.read\" }\n\napi.UpdateClientAuthorization(clientId,\
          \ &req)\n"
      - lang: ts
        label: deno
        source: |
          // This API is not supported yet.
  /api/client/authorization/delete/{clientId}/{subject}:
    delete:
      description: |
        Delete all existing access tokens issued to a client application by an end-user.
      operationId: client_authorization_delete_api
      parameters:
      - description: |
          A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      - description: |
          Unique user ID of an end-user.
        in: path
        name: subject
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                resultCode: A137001
                resultMessage: "[A137001] Deleted 3 access token(s) issued to the\
                  \ client (ID = 26478243745571) of the service (API Key = 21653835348762)."
              schema:
                $ref: '#/components/schemas/client_authorization_delete_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /client/authorization/delete, TLS must be\
                  \ used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /client/authorization/delete, Authorization\
                  \ header is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /client/authorization/delete, The service\
                  \ (API Key = 21653835348762) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /client/authorization/delete, Authlete Server\
                  \ error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/authorization/delete/{clientId}/{subject} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X DELETE https://api.authlete.com/api/client/authorization/delete/26478243745571/john \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\
          \nlong clientId = ...;\nString subject = \"john\";\n\napi.deleteClientAuthorization(clientId,\
          \ subject);\n"
      - lang: cs
        label: C#
        source: "IAuthleteConfiguration conf = ...;\nIAuthleteApi api = new AuthleteApi(conf);\n\
          \nlong clientId = ...;\nstring subject = \"john\";\n\nawait api.DeleteClientAuthorization(clientId,\
          \ subject);\n"
      - lang: php
        label: PHP
        source: "$conf = ...;\n$api = new AuthleteApiImpl($conf);\n\n$clientId = ...;\n\
          $subject = \"john\";\n\n$api.deleteClientAuthorization($clientId, $subject);\n"
      - lang: ruby
        source: "conf = ...\napi = Authlete::Api.new(conf)\n\nclient_id = ...\nsubject\
          \ = 'john'\n\napi.delete_client_authorization(client_id, subject)\n"
      - lang: python
        source: "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientId = ...\nsubject\
          \ = 'john'\n\napi.deleteClientAuthorization(clientId, subject)\n"
      - lang: go
        source: "conf := ...\napi := api.New(&conf)\n\nclientId := ...\nsubject :=\
          \ \"john\"\n\napi.DeleteClientAuthorization(clientId, subject)\n"
      - lang: ts
        label: deno
        source: |
          // This API is not supported yet.
  /api/client/granted_scopes/get/{clientId}/{subject}:
    get:
      description: "Get the set of scopes that a user has granted to a client application.\n\
        \n<br>\n<details>\n<summary>Description</summary>\n\nPossible values for `requestableScopes`\
        \ parameter in the response from this API are as follows.\n\n**null**\n\n\
        The user has not granted authorization to the client application in the past,\
        \ or records about the\ncombination of the user and the client application\
        \ have been deleted from Authlete's DB.\n\n**An empty set**\n\nThe user has\
        \ granted authorization to the client application in the past, but no scopes\
        \ are associated\nwith the authorization.\n\n**A set with at least one element**\n\
        \nThe user has granted authorization to the client application in the past\
        \ and some scopes are associated\nwith the authorization. These scopes are\
        \ returned.\nExample: `[ \"profile\", \"email\" ]`\n</details>\n"
      operationId: client_granted_scopes_get_api
      parameters:
      - description: |
          A client ID.
        in: path
        name: clientId
        required: true
        schema:
          type: string
      - description: |
          Unique user ID of an end-user.
        in: path
        name: subject
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                serviceApiKey: 21653835348762
                clientId: 26478243745571
                subject: john
                latestGrantedScopes:
                - history.read
                mergedGrantedScopes:
                - history.read
                - timeline.read
                modifiedAt: 1663144643000
              schema:
                $ref: '#/components/schemas/client_granted_scopes_get_response'
          description: ""
        "400":
          content:
            application/json:
              example:
                resultCode: A001201
                resultMessage: "[A001201] /client/granted_scopes/get/{clientId}, TLS\
                  \ must be used."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "401":
          content:
            application/json:
              example:
                resultCode: A001202
                resultMessage: "[A001202] /client/granted_scopes/get/{clientId}, Authorization\
                  \ header is missing."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "403":
          content:
            application/json:
              example:
                resultCode: A001215
                resultMessage: "[A001215] /client/granted_scopes/get/{clientId}, The\
                  \ service (API Key = 21653835348762) is locked."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
        "500":
          content:
            application/json:
              example:
                resultCode: A001101
                resultMessage: "[A001101] /client/granted_scopes/get/{clientId}, Authlete\
                  \ Server error."
              schema:
                $ref: '#/components/schemas/result'
          description: ""
      security:
      - ServiceCredentials: []
      summary: "/api/client/granted_scopes/get/{clientId}/{subject} API"
      tags:
      - Client Management
      x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://api.authlete.com/api/client/granted_scopes/get/26478243745571/john \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\
          \nlong clientId  = 26478243745571;\nString subject = \"john\";\n\napi.getGrantedScopes(clientId,\
          \ subject);\n"
      - lang: cs
        label: C#
        source: "IAuthleteConfiguration conf = ...;\nIAuthleteApi api = new AuthleteApi(conf);\n\
          \nlong clientId  = 26478243745571;\nstring subject = \"john\";\n\nawait\
          \ api.GetGrantedScopes(clientId, subject);\n"
      - lang: php
        label: PHP
[...]
